{% extends 'menu.html' %}
{% block content %}
{% load static %}
<title>{% block title %}لوحة القيادة{% endblock title %}</title>
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
<link href="{% static 'css/feather.css' %}" rel="stylesheet" type="text/css">
<div class="row">
    <div class="col-12 col-sm-6 col-xl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                        <i class="feather-lg text-primary" data-feather="user"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-2">{{  counthommes }}</h3>
                        <div class="mb-0">ذكر</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                        <i class="feather-lg text-danger" data-feather="user"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-2">{{ countfemmes }}</h3>
                        <div class="mb-0">أنثى</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-xl d-flex">
        <div class="card flex-fill">
            <div class="card-body py-4">
                <div class="media">
                    <div class="d-inline-block mt-2 mr-3">
                        <i class="feather-lg text-warning" data-feather="sliders"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="mb-2">{{ countAll }}</h3>
                        <div class="mb-0">العدد الاجمالي للمتدربين</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="col-lg-7 col-md-12 title">
    <h5 class="card-title mb-0"><span class="float-right">العدد الإجمالي للمتدربين في كل قسم</span></h5>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-lg-7 d-flex">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                          id="btndropdown"  aria-haspopup="true" aria-expanded="false">
                        السنة
                    </button>
                    <button type="button" onclick="reseet()" class="btn btn-outline-infos "><i class="fa-solid fa-arrow-rotate-left fa-lg"></i></button>
                    <div class="dropdown-menu" id="dropdown">

                    </div>
                </div>
                <div class="card-body d-flex w-100">
                    <div class="align-self-center chart" id="barchart">
                        <canvas id="chartjs-dashboard-bar-devices"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-12 d-flex">
        <div class="card flex-fill w-100">
            <div class="card-header">
                <div class="card-actions float-right p-3">
                    <h5 class="card-title mb-0"></h5>
                </div>
            </div>
            <div class="card-body d-flex">
                <div class="align-self-center w-100">
                    <div class="chart chart-xs" id="chartCongeCount"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="chartjs-dashboard-pie" style="top:-10px  ;display: block; width: 250px; height: 120px;" width="250" height="120" class="chartjs-render-monitor"></canvas>
                    </div>
                    <table id="tablecount" class="table table-hover mb-0 text-center">
                        <thead>
                            <tr id="head">
                                <th>الوحدة</th>
                                <th>عدد المتدربين</th>
                            </tr>
                        </thead>
                        <tbody id="body">
                            <tr class="trcount">
                                    <td >الباشوية</td>
                                    <td >{{ pashaliks}}</td>
                                </tr>
                                <tr class="trcount">
                                        <td >الأمانة العامة</td>
                                        <td >{{ divisions}}</td>
                                    </tr>
                                <tr class="trcount">
                                        <td >الدائرة</td>
                                        <td >{{ caidats}}</td>
                                    </tr>
                                <tr class="trcount">
                                        <td >المقاطعة</td>
                                        <td >{{ districts}}</td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    chartdiv('division&All');
    document.getElementById('head').onclick = function (){
        document.getElementById('body').innerHTML = `
                <tr class="trcount">
                     <td >الباشوية</td>
                          <td >{{ pashaliks}}</td>
                     </tr>
                                <tr class="trcount">
                                        <td >الأمانة العامة</td>
                                        <td >{{ divisions}}</td>
                                    </tr>
                                <tr class="trcount">
                                        <td >الدائرة</td>
                                        <td >{{ caidats}}</td>
                                    </tr>
                                <tr class="trcount">
                                        <td >المقاطعة</td>
                                        <td >{{ districts}}</td>
                                    </tr>
        `
        chartdiv('All&All');
    }
    function chartdiv(ind){
        console.log(ind);
        $.ajax({
                type: 'get',
                url: `ajaxtboardfilterstate/${ind}/`,
                success: function(response){
                    const stagedata = response.data;
                    dataa=JSON.parse(stagedata);
                    console.log(dataa);
                    if(ind.split('&')[0] == 'division' && ind.split('&')[1] != 'All')
                        loadservice(ind.split('&')[1]);
                    $(function() {
                    var values = [];
                    for(var data of dataa){
                        values.push(data);
                    }
                    document.getElementById('chartCongeCount').innerHTML=''
                    document.getElementById('chartCongeCount').innerHTML=`<canvas id="chartjs-dashboard-pie"></canvas>`
                    new Chart(document.getElementById("chartjs-dashboard-pie"), {
                        type: "pie",
                        data: {
                            labels: ['Pas Commencer','En cours','Terminés'],
                            datasets: [{
                                labels:'عدد المتدربين',
                                data: values,
                                backgroundColor: [
                                    window.theme.primary,
                                    window.theme.warning,
                                    window.theme.danger,
                                    "#B51390",
                                    "#FF9774",
                                    "#33FF3C",
                                    "#FF0000",
                                ],
                                borderColor: "transparent"
                            }]
                        },
                        options: {
                            legend: {
                                display: true
                            }
                        }
                    });
                })
                },
                error: function(error){
                    console.log(error)
                }
        })
    }

function loadservice (id){
    $.ajax({
                type: 'get',
                url: `ajaxstageservices/${id}/`,
                success: function(response){
                    const stagedata = response.data
                    dataa=JSON.parse(stagedata);
                    console.log(dataa);
                    document.getElementById('body').innerHTML=''
                    for(var data of dataa){
                        document.getElementById('body').innerHTML+=`
                        <tr onclick="chartdiv('service&${data.service.idservice_field__idservice}')">
                            <td id="${data.service.idservice_field__idservice}">${data.service.idservice_field__libelleservicefr}</td>
                            <td>${data.service.scount}</td>
                        </tr>
                        `
                    }
                },
                error: function(error){
                    console.log(error)
                }
            })
}

</script>
    <script>
        function reseet(){
            ajaxfilteryear('All');
        }
        window.onload = function (){
            years = document.getElementById('dropdown')
            {% for annee in annees %}
                years.innerHTML += '<a class="dropdown-item" onclick="ajaxfilteryear({{annee.datedebutstage__year}})">{{annee.datedebutstage__year}}</a>'
            {% endfor %}
            ajaxfilteryear('All');
        }

        function ajaxfilteryear(value,chart){
            if(value == 'All')
                document.getElementById('btndropdown').textContent = 'السنة ';
            else
                document.getElementById('btndropdown').textContent = value+' ';
            $.ajax({
                type: 'get',
                url: `ajaxtboardfilterannee/${value}/`,
                success: function(response){
                    const stagedata = response.data
                    //let tb1 = document.querySelector('#tbody');
                   // tb1.innerHTML=""
                    dataa=JSON.parse(stagedata);
                    console.log(dataa);
                    $(function(){
                        document.getElementById('barchart').innerHTML=''
                        document.getElementById('barchart').innerHTML=`<canvas id="chartjs-dashboard-bar-devices"></canvas>`
                        new Chart(document.getElementById("chartjs-dashboard-bar-devices"), {
                            type: 'bar',
                            data: {
                                labels: [{% for division in listdivs %} '{{division}}',{% endfor %}],
                                datasets: [{
                                    label: 'عدد المتدربين',
                                    data: dataa,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(153, 120, 255, 0.2)',
                                        'rgba(153, 80, 255, 0.2)',
                                        'rgba(75, 192, 120, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 240, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(153, 120, 125, 1)',
                                        'rgba(153, 80, 255, 1)',
                                        'rgba(75, 192, 120, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    })
                },
                error: function(error){
                    console.log(error)
                }
            })
        }
    </script>

{% endblock content %}
<tr class="trcount">
                                    <td><i class="fas fa-square-full text-primary float-right"></i>Pashalik</td>
                                    <td >الباشوية</td>
                                    <td class="text-success">{{ Ps}}</td>
                                </tr>
                                <tr class="trcount">
                                        <td><i class="fas fa-square-full text-primary float-right"></i>Secretariat Genéral</td>
                                        <td >الأمانة العامة</td>
                                        <td class="text-success">{{ Sc}}</td>
                                    </tr>
                                <tr class="trcount">
                                        <td><i class="fas fa-square-full text-primary float-right"></i>Cercle</td>
                                        <td >الدائرة</td>
                                        <td class="text-success">{{ Cr}}</td>
                                    </tr>
                                <tr class="trcount">
                                        <td><i class="fas fa-square-full text-primary float-right"></i>District</td>
                                        <td >المقاطعة</td>
                                        <td class="text-success">{{ Ds}}</td>
                                    </tr>