@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');
h5{
    font-family: Cairo;
}
body{
    margin: 0 auto;
    width:500px!important;
    height:500px!important;
}