{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    {% load has_group %}
    <title> {% block title %}الرئيسية{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Montserrat:wght@800;900&display=swap" rel="stylesheet">
    <style>
     h3{
         font-family: "Cairo ExtraLight";
         font-weight: bold;
     }
     .card-body:hover{
         background-color:#79AEC8;
         transform: scale(1.05);
         color: white !important;

     }
     .card-body:hover>h3{
         background-color:#79AEC8;
         transform: scale(1.05);
         color: white !important;
     }

     .card-body:hover .fa-solid{
         color: white !important;
     }

     .not-allowed {cursor: not-allowed;}
    </style>

     <script>
        $(document).ready(function (){
            $('a[class="nav-link dropdown-toggle"]').remove()
            $('.footer').attr("class","footer fixed-bottom")

            {% if not request.user|has_group:"GestionPersonnel" %}
                $('#perso').attr("class","card-body d-flex flex-column text-decoration-none not-allowed");
                $('#perso').attr("href","#");
            {% endif %}

            {% if not request.user|has_group:"GestionAbsence" %}
                $('#abc').attr("class","card-body d-flex flex-column text-decoration-none not-allowed");
                $('#abc').attr("href","#");
            {% endif %}

            {% if not request.user|has_group:"GestionConge" %}
                $('#conge').attr("class","card-body d-flex flex-column text-decoration-none not-allowed");
                $('#conge').attr("href","#");
            {% endif %}

            {% if not request.user|has_group:"GestionAvancement" %}
                $('#avancement').attr("class","card-body d-flex flex-column text-decoration-none not-allowed");
                $('#avancement').attr("href","#");
            {% endif %}

            {% if not request.user|has_group:"GestionStagiaire" %}
                $('#stagiaire').attr("class","card-body d-flex flex-column text-decoration-none not-allowed");
                $('#stagiaire').attr("href","#");
            {% endif %}
        })


    </script>

    <div class="container">
        <div class="row py-4">
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column text-decoration-none" id="perso" href="{% url 'taboard' %}">
                        <div class="mb-4">
                            <span class="display-4"><i class="fa-solid fa-user" style="color: #79AEC8"></i></span>
                        </div>
                        <h3> فضاء الموظفون</h3>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column text-decoration-none" href="{% url 'tboardconge' %}" id="conge">
                        <div class="mb-4">
                            <span class="display-4"><i class="fa-solid fa-calendar" style="color: #79AEC8;"></i></span>
                        </div>
                        <h3> فضاء الرخص</h3>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column text-decoration-none" href="{% url 'tboardavancement' %}" id="avancement">
                        <div class="mb-4">
                            <span class="display-4"><i class="fa-solid fa-briefcase" style="color: #79AEC8"></i></span>
                        </div>
                        <h3> فضاء الترقيات</h3>
                    </a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column text-decoration-none" href="" id="abc">
                        <div class="mb-4">
                            <span class="display-4"><i class="fa-solid fa-address-card" style="color: #79AEC8"></i></span>
                        </div>
                        <h3> فضاء الغيابات </h3>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 mb-3 mb-md-0" >
                <div class="card text-center h-100" >
                    <a class="card-body d-flex flex-column text-decoration-none" href="">
                        <div class="mb-4">
                            <span class="display-4"><i class="fa-solid fa-bell" style="color: #79AEC8"></i></span>
                        </div>
                        <h3>فضاء الإشعارات</h3>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 mb-3 mb-md-0">
                <div class="card text-center h-100">
                    <a class="card-body d-flex flex-column text-decoration-none" href="{% url 'accueil' %}" id="stagiaire">
                        <div class="mb-4">
                            <span class="display-4"><i class="fa-solid fa-graduation-cap" style="color: #79AEC8"></i></span>
                        </div>
                        <h3>فضاء المتدربين</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}