
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400&display=swap');

#blocktext{
    text-align: right;

}

.textfont
{
    font-family: Cairo;
}

#ulstyle
{
    padding-right: 50%
}

#slogan
{
    font-size: 110%;
}

