{% extends 'menu.html' %}
{% block content %}
{% load static %}
    {% load has_group %}
    <title> {% block title %}إضافة{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>

  {% if request.user|has_group:"GestionPersonnel" %}
 <form action="" method="POST">
    {% csrf_token %}
                {% if personnel.cin %}
                    <div class="row">
						<div class="col-sm-8 col-lg-6 d-flex">
							<div class="card flex-fill">
								<div class="card-header">
                                    <br>
                                    <h4 class="text-center">
                                        Données personnelles - معلومات شخصية
                                    </h4>
                                    <hr>
								</div>
								<div class="card-body">
                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="cin"> ر.ب.و :</label>
                                            <label class="col-form-label" dir="ltr" for="cin">Cin :</label>
                                            <input type="text" class="form-control" name="cin" value="{{ personnel.cin }}" readonly  required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="cin">الزوج :</label>
                                            <label class="col-form-label" dir="ltr" for="cin">Conjoint :</label>
                                            <center>
                                                <a class="btn text-center col-md-12" style="background-color: transparent; border: 1px solid darkgreen" onclick="red('ajouter_conjoint')" id="addfe">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </center>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="cin">الاطفال :</label>
                                            <label class="col-form-label" dir="ltr" for="cin">Enfants :</label>
                                            <center>
                                            <a class="btn text-center col-md-12" style="background-color: transparent; border: 1px solid green" onclick="red('ajouter_enfant')">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            </center>
                                        </div>
                                    </div>

							    </div>
						    </div>
                        </div>

                    <div class="col-sm-8 col-lg-6 d-flex">
							<div class="card flex-fill">
								<div class="card-header">
                                    <br>
                                    <h4 class="text-center">
                                        Données personnelles - معلومات شخصية
                                    </h4>
                                    <hr>
								</div>
								<div class="card-body">

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="cin">ديبلومات :</label>
                                            <label class="col-form-label" dir="ltr" for="cin">Diplômes :</label>
                                            <center>
                                            <a class="btn text-center col-md-12" style="background-color: transparent; border: 1px solid green" onclick="red('ajouter_diplome')">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                            </center>
                                        </div>
                                    </div>

							    </div>
						    </div>
                        </div>
                    </div>

                {% else %}
					<div class="row">
						<div class="col-sm-8 col-lg-6 d-flex">
							<div class="card flex-fill">
								<div class="card-header">
                                    <br>
                                    <h4 class="text-center" dir="ltr">
                                        Données Personnelles - معلومات شخصية
                                    </h4>
                                    <hr>
								</div>

								<div class="card-body">
                                    <div class="mb-3">
                                        <div class="text-center">
                                            <div class="mt-2">
                                                <img src="{% static 'images/genericpersonnel.webp' %}" id="image" class="rounded-circle img-responsive mt-2" width="164" height="164">
                                                <p>
                                                    <input type="file" name="photo" id="photo" onchange="previewPicture(this)"/>
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="prenomar">الاسم الشخصي :</label>
                                            <input type="text" class="form-control text-center" name="prenomar"   required>
                                        </div>

                                        <div class="col-md">
                                            <label for="prenomfr" class="col-form-label" dir="ltr">Prénom :</label>
                                            <input type="text" class="form-control text-center" name="prenomfr"   required>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="nomfr"> الاسم العائلي :</label>
                                            <input type="text" class="form-control text-center" name="nomfr"   required>
                                        </div>

                                        <div class="col-md">
                                            <label for="nomar" class="col-form-label" dir="ltr">Nom :</label>
                                            <input type="text" class="form-control text-center" name="nomar"   required>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="lieunar"> مكان الازدياد :</label>
                                            <input type="text" class="form-control text-center" name="lieunar"   required>
                                        </div>

                                        <div class="col-md">
                                            <label for="lieunfr" class="col-form-label" dir="ltr">lieu de naissance :</label>
                                            <input type="text" class="form-control text-center" name="lieunfr"   required>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="adressear"> العنوان :</label>
                                            <input type="text" class="form-control text-center" name="adressear"   required>
                                        </div>

                                        <div class="col-md">
                                            <label for="adressefr" class="col-form-label" dir="ltr">Adresse :</label>
                                            <input type="text" class="form-control text-center" name="adressefr"   required>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="situationfar"> الوضع العائلي :</label>
                                            <label class="col-form-label" dir="ltr" for="situationfar">Situation familiale :</label>
                                            <select class="form-control text-center" name="situationfar"   required>
                                                <option value="1">متزوج(ة)-marié(e)</option>
                                                <option value="2">مطلق(ة)-divorcé(e)</option>
                                                <option value="3">بدون-célibataire(e)</option>
                                            </select>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="sexe"> الجنس :</label>
                                            <label class="col-form-label" dir="ltr" for="sexe">Sexe :</label>
                                            <select class="form-control  text-center" name="sexe"   required>
                                                <option>Homme-ذكر</option>
                                                <option>Femme-أنثى</option>
                                            </select>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="daten"> تاريخ الازدياد :</label>
                                            <label class="col-form-label" dir="ltr" for="daten">Date de naissance :</label>
                                            <input type="date" class="form-control text-center" name="daten"  required>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="cin"> ر.ب.و :</label>
                                            <label class="col-form-label" dir="ltr" for="cin">Cin :</label>
                                            <input type="text" class="form-control text-center" name="cin"  required>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="email"> البريد الالكتروني :</label>
                                            <label class="col-form-label" dir="ltr" for="email">Email :</label>
                                            <input type="text" class="form-control text-center" name="email"  required>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="tele"> الهاتف :</label>
                                            <label class="col-form-label" dir="ltr" for="tele">Tele :</label>
                                            <input type="text" class="form-control text-center" name="tele"  required>
                                        </div>
                                    </div>
							    </div>
						    </div>
                        </div>

						<div class="col-sm-8 col-lg-6 d-flex">
							<div class="card flex-fill">
								<div class="card-header">
                                    <br>
                                    <h4 class="text-center" dir="ltr">
                                        Données Professionnel - معلومات مهنية
                                    </h4>
                                    <hr>
								</div>
								<div class="card-body">
                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="ppr"> ب,ب.ر :</label>
                                            <label class="col-form-label" dir="ltr" for="ppr">PPR :</label>
                                            <input type="text" class="form-control text-center" name="ppr" required>
                                        </div>
                                    </div>

                                <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="adminiapp"> الإدارة :</label>
                                            <label class="col-form-label" dir="ltr" for="adminiapp">Administration :</label>
                                            <select class="form-control  text-center" name="adminiapp" required>
                                                <option>مجلس عمالة وجدة أنجاد-Préfectoral</option>
                                                <option>عمالة وجدة أنجاد-Général</option>
                                            </select>
                                        </div>
                                    </div>

                                <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="numiden"> رقم المنصب المالي :</label>
                                            <label class="col-form-label" dir="ltr" for="numiden">N° de poste budgétaire :</label>
                                            <input type="text" class="form-control text-center" name="numiden" required>
                                        </div>
                                    </div>

                                <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="statut"> الوضعية النظامية :</label>
                                            <label class="col-form-label" dir="ltr" for="statut">Situation statutaire :</label>
                                            <input type="text" class="form-control text-center" name="statut" required>
                                        </div>
                                    </div>

                                <br>


                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="rib"> ر.ي.ب :</label>
                                            <label class="col-form-label" dir="ltr" for="rib">Rib :</label>
                                            <input type="text" class="form-control text-center" name="rib" pattern="^(0|[1-9][0-9]*)$" required>
                                        </div>
                                    </div>

                                <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="ancadmi"> الأقدمية الإدارية :</label>
                                            <label class="col-form-label" dir="ltr" for="ancadmi">Ancienneté administrative :</label>
                                            <input type="text" class="form-control text-center" name="ancadmi" required>
                                        </div>
                                    </div>

                                <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="daterec"> تاريخ التوظيف :</label>
                                            <label class="col-form-label" dir="ltr" for="daterec">Date de recrutement :</label>
                                            <input type="date" class="form-control text-center" name="daterec" required>
                                        </div>

                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="datedec"> تاريخ الترسيم :</label>
                                            <label class="col-form-label" dir="ltr" for="datedec">Date de titularisation :</label>
                                             <input type="date" class="form-control text-center" name="datedec" required>
                                        </div>
                                    </div>

                                <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="dateretr"> تاريخ الإحالة على التقاعد :</label>
                                            <label class="col-form-label" dir="ltr" for="dateretr">Date de départ à la retraite :</label>
                                             <input type="date" class="form-control text-center" name="dateretr" required>
                                        </div>
                                    </div>

                                <br>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="numcnopsaf"> رفم كنوبس أ.ف :</label>
                                            <label class="col-form-label" dir="ltr" for="numcnopsaf">Numéro cnops af :</label>
                                             <input type="text" class="form-control text-center" name="numcnopsaf" required>
                                        </div>

                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="numcnopsim"> رفم كنوبس أ.م :</label>
                                            <label class="col-form-label" dir="ltr" for="numcnopsim">Numéro cnops im :</label>
                                             <input type="text" class="form-control text-center" name="numcnopsim" required>
                                        </div>
                                    </div>
                                <br>
                                <hr>
                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="dateservice"> تاريخ التعيين :</label>
                                            <label class="col-form-label" dir="ltr" for="dateservice">Date d'affectation :</label>
                                             <input type="date" class="form-control text-center" name="dateservice" value="" required>
                                        </div>

                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="service"> إدارة :</label>
                                            <label class="col-form-label" dir="ltr" for="service">Service :</label>
                                            <select class="form-control text-center" name="service"  required>
                                                {% for service in services %}
                                                    <option value="{{ service.idservice }}">{{ service.libelleservicefr }} - {{ service.libelleservicear }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="dategrade"> تاريخ التعيين :</label>
                                            <label class="col-form-label" dir="ltr" for="dategrade">Date de changement de grade :</label>
                                             <input type="date" class="form-control text-center" name="dategrade" value="" required>
                                        </div>

                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="grade"> الدرجة :</label>
                                            <label class="col-form-label" dir="ltr" for="grade">Grade :</label>
                                            <select class="form-control text-center" name="grade"  required>
                                                {% for grade in grades %}
                                                    <option value="{{ grade.idgrade }}">{{ grade.gradefr }} - {{ grade.gradear }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="datefonction"> تاريخ الوظيفة :</label>
                                            <label class="col-form-label" dir="ltr" for="datefonction">Date Fonction :</label>
                                             <input type="date" class="form-control text-center" name="datefonction" required>
                                        </div>

                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="grade"> الوظيفة :</label>
                                            <label class="col-form-label" dir="ltr" for="grade">Fonction :</label>
                                            <select class="form-control text-center" name="fonction"  required>
                                            {% for fonction in fonctions %}
                                                <option value="{{fonction.idfonction}}">{{ fonction.libellefonctionfr }} - {{ fonction.libellefontionar }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                    </div>
							    </div>
						    </div>
                        </div>

                        <div class="col-12 col-lg-12 col-xxl-12">
                            <div class="card flex-fill">
								<div class="card-body"><!--data-toggle="modal" data-target="#defaultModalSuccess"-->
                                <center><button type="submit" class="btn btn-success"   style="font-size: 130%">Enregistrer - تسجيل</button></center>

                                    <div class="modal fade" id="defaultModalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">اضافة</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
												</div>
												<div class="modal-body m-3">
													<p class="mb-0">تأكيد اضافة عامل</p>
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-success">تأكيد</button>
												</div>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                 {% endif %}
    </form>
<script>

        var image = document.getElementById("image");

        // La fonction previewPicture
        var previewPicture  = function (e) {

            // e.files contient un objet FileList
            const [picture] = e.files

            // "picture" est un objet File
            if (picture) {
                // On change l'URL de l'image
                image.src = URL.createObjectURL(picture)
            }
        }

            function red (link)
            {
                var val = document.getElementsByName('cin')[0].value;
                if(val != "")
                {
                    var data = link+"?personnel="+val;
                     window.open(data,link,'width=620,height=900');
                }
                else
                {
                    alert("il faut ajouter d'abord le personnel")
                }
            }
	</script>
{% else %}
      <div class="row h-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="text-center">
							<h1 class="display-1 font-weight-bold" style="color: red">401</h1>
							<p class="h1"></p>
							<p class="h2 font-weight-normal mt-3 mb-4"  style="color: red">ليس لديكم الحق للولوج لهته الصفحة</p>
							<a href="{% url 'consultation' %}" class="btn btn-primary btn-lg">الرجوع</a>
						</div>
					</div>
				</div>
			</div>
{% endif %}
{% endblock %}