{% extends 'menu.html' %}
{% block content %}
{% load static %}
    {% load has_group %}
    <title> {% block title %}إضافة{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Montserrat:wght@800;900&display=swap" rel="stylesheet">
    <style>
        h3{
            font-family: "Cairo ExtraLight";
            font-weight: bold;
        }
        #donneperso{
            background-color: #47BAC1;
            border-radius: 5px;
        }

        #donneprof{
            background-color: #47BAC1;
            border-radius: 5px;
        }
        .btn{
            background-color: #47BAC1;
            font-weight: bold;
            font-family: "Cairo ExtraLight";
            color: white;
        }

        .btna{
            background-color: transparent;
            border: 1px solid darkgreen;
        }
        #photo{
            display: none;
        }
         .col-md-6 .row .col-md{
            margin: 8px 0 !important;
        }

    </style>

  {% if request.user|has_group:"GestionPersonnel" %}
     <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {% if personnel.cin %}
                <div class="row">
                    <div class="col-sm-12 col-lg-12 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header d-flex h-25" id="donneperso">
                                <h3 class="text-center text-white" dir="ltr">
                                    معلومات شخصية
                                </h3>
                            </div>
                            <hr>
                            <div class="card-body" id="persocard">
                                <div class="row justify-content-center">
                                    <div class="col-sm-12 col-md-6">
                                        <label class="col-form-label float-right" for="cin"> ر.ب.و :</label>
                                        <label class="col-form-label" dir="ltr" for="cin">Cin :</label>
                                        <input type="text" class="form-control" name="cin" value="{{ personnel.cin }}" readonly  required>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-sm-12 col-md-6">
                                        <label class="col-form-label float-right" for="cin">الزوج :</label>
                                        <label class="col-form-label" dir="ltr" for="cin">Conjoint :</label>
                                        <center>
                                            <a class="btn text-center col-md-12 btna" onclick="red('ajouter_conjoint')" id="addfe">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </center>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-sm-12 col-md-6">
                                        <label class="col-form-label float-right" for="cin">الاطفال :</label>
                                        <label class="col-form-label" dir="ltr" for="cin">Enfants :</label>
                                        <center>
                                        <a class="btn text-center col-md-12 btna" onclick="red('ajouter_enfant')">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        </center>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 d-flex ">
                        <div class="card flex-fill">
                            <div class="card-header d-flex h-25" id="donneprof" >
                                <h3 class="text-center text-white"  dir="ltr">
                                    معلومات مهنية
                                </h3>
                            </div>
                            <hr>
                            <div class="card-body" id="procard">
                                <div class="row justify-content-center">
                                    <div class="col-sm-12 col-md-6">
                                        <label class="col-form-label float-right" for="cin">ديبلومات :</label>
                                        <label class="col-form-label" dir="ltr" for="cin">Diplômes :</label>
                                        <center>
                                        <a class="btn text-center col-md-12 btna" onclick="red('ajouter_diplome')">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        </center>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-sm-12 col-lg-12 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header d-flex h-25" id="donneperso">
                                <h3 class="text-center text-white" dir="ltr">
                                    معلومات شخصية
                                </h3>
                            </div>
                            <hr>
                            <div class="card-body" id="persocard">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <div class="text-center">
                                                <div class="mt-2">
                                                    <input type="image" src="{% static 'images/genericpersonnel.webp' %}" id="image" class="rounded-circle img-responsive mt-2" width="124" height="124"/>
                                                    <input type="file" name="photo" id="photo"  onchange="previewPicture(this)"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="prenomar">الاسم الشخصي :</label>
                                                <input type="text" class="form-control text-center" name="prenomar"   required>
                                            </div>

                                            <div class="col-md">
                                                <label for="prenomfr" class="col-form-label" dir="ltr">Prénom :</label>
                                                <input type="text" class="form-control text-center" name="prenomfr"   required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="nomfr"> الاسم العائلي :</label>
                                                <input type="text" class="form-control text-center" name="nomfr"   required>
                                            </div>

                                            <div class="col-md">
                                                <label for="nomar" class="col-form-label" dir="ltr">Nom :</label>
                                                <input type="text" class="form-control text-center" name="nomar"   required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="lieunar"> مكان الازدياد :</label>
                                                <input type="text" class="form-control text-center" name="lieunar"   required>
                                            </div>

                                            <div class="col-md">
                                                <label for="lieunfr" class="col-form-label" dir="ltr">lieu de naissance :</label>
                                                <input type="text" class="form-control text-center" name="lieunfr"   required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="adressear"> العنوان :</label>
                                                <input type="text" class="form-control text-center" name="adressear"   required>
                                            </div>

                                            <div class="col-md">
                                                <label for="adressefr" class="col-form-label" dir="ltr">Adresse :</label>
                                                <input type="text" class="form-control text-center" name="adressefr"   required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="situationfar"> الوضع العائلي :</label>
                                                <label class="col-form-label" dir="ltr" for="situationfar">Situation familiale :</label>
                                                <select class="form-control text-center" name="situationfar"   required>
                                                    <option value="1">متزوج(ة)-marié(e)</option>
                                                    <option value="2">مطلق(ة)-divorcé(e)</option>
                                                    <option value="3">بدون-célibataire(e)</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="sexe"> الجنس :</label>
                                                <label class="col-form-label" dir="ltr" for="sexe">Sexe :</label>
                                                <select class="form-control  text-center" name="sexe"   required>
                                                    <option>Homme-ذكر</option>
                                                    <option>Femme-أنثى</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="daten"> تاريخ الازدياد :</label>
                                                <label class="col-form-label" dir="ltr" for="daten">Date de naissance :</label>
                                                <input type="date" class="form-control text-center" name="daten"  required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="cin"> ر.ب.و :</label>
                                                <label class="col-form-label" dir="ltr" for="cin">Cin :</label>
                                                <input type="text" class="form-control text-center" name="cin"  required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="email"> البريد الالكتروني :</label>
                                                <label class="col-form-label" dir="ltr" for="email">Email :</label>
                                                <input type="text" class="form-control text-center" name="email"  required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="tele"> الهاتف :</label>
                                                <label class="col-form-label" dir="ltr" for="tele">Tele :</label>
                                                <input type="text" class="form-control text-center" name="tele"  required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 col-lg-12 d-flex">
                        <div class="card flex-fill">
                             <div class="card-header d-flex h-25" id="donneprof">
                                <h3 class="text-center text-white"  dir="ltr">
                                    معلومات مهنية
                                </h3>
                            </div>
                            <hr>
                            <div class="card-body" id="procard">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="ppr"> ب,ب.ر :</label>
                                                <label class="col-form-label" dir="ltr" for="ppr">PPR :</label>
                                                <input type="text" class="form-control text-center" name="ppr" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="adminiapp"> الإدارة :</label>
                                                <label class="col-form-label" dir="ltr" for="adminiapp">Administration :</label>
                                                <select class="form-control  text-center" name="adminiapp" required>
                                                    <option>مجلس عمالة وجدة أنجاد-Préfectoral</option>
                                                    <option>عمالة وجدة أنجاد-Général</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="numiden"> رقم المنصب المالي :</label>
                                                <label class="col-form-label" dir="ltr" for="numiden">N° de poste budgétaire :</label>
                                                <input type="text" class="form-control text-center" name="numiden" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="statut"> الوضعية النظامية :</label>
                                                <label class="col-form-label" dir="ltr" for="statut">Situation statutaire :</label>
                                                <input type="text" >
                                                <select class="form-control text-center" name="statut" required>
                                                    {% for statut in statutpersonnel  %}
                                                        <option value="{{  }}">{{  }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="rib"> ر.ي.ب :</label>
                                                <label class="col-form-label" dir="ltr" for="rib">Rib :</label>
                                                <input type="text" class="form-control text-center" name="rib" pattern="^(0|[1-9][0-9]*)$" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="ancadmi"> الأقدمية الإدارية :</label>
                                                <label class="col-form-label" dir="ltr" for="ancadmi">Ancienneté administrative :</label>
                                                <input type="text" class="form-control text-center" name="ancadmi" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="daterec"> تاريخ التوظيف :</label>
                                                <label class="col-form-label" dir="ltr" for="daterec">Date de recrutement :</label>
                                                <input type="date" class="form-control text-center" name="daterec" required>
                                            </div>

                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="datedec"> تاريخ الترسيم :</label>
                                                <label class="col-form-label" dir="ltr" for="datedec">Date de titularisation :</label>
                                                 <input type="date" class="form-control text-center" name="datedec" required>
                                            </div>
                                        </div>

                                       <!-- <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="dateretr"> تاريخ الإحالة على التقاعد :</label>
                                                <label class="col-form-label" dir="ltr" for="dateretr">Date de départ à la retraite :</label>
                                                 <input type="date" class="form-control text-center" name="dateretr" required>
                                            </div>
                                        </div>-->

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="numcnopsaf"> رفم كنوبس أ.ف :</label>
                                                <label class="col-form-label" dir="ltr" for="numcnopsaf">Numéro cnops af :</label>
                                                 <input type="text" class="form-control text-center" name="numcnopsaf" required>
                                            </div>

                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="numcnopsim"> رفم كنوبس أ.م :</label>
                                                <label class="col-form-label" dir="ltr" for="numcnopsim">Numéro cnops im :</label>
                                                 <input type="text" class="form-control text-center" name="numcnopsim" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="col-12 col-lg-12">
                                            <div class="tab" style="background-color: whitesmoke">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item"><a class="nav-link active" href="#tab-1" data-toggle="tab" role="tab" aria-selected="true">التعيين</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="#tab-2" data-toggle="tab" role="tab" aria-selected="false">الدرجة والرتبة</a></li>
                                                    <li class="nav-item"><a class="nav-link" href="#tab-3" data-toggle="tab" role="tab">المهمة</a></li>
                                                </ul>
                                                <div class="tab-content" >
                                                    <div class="tab-pane active" id="tab-1" role="tabpanel">
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="entite"> الكيان :</label>
                                                                <label class="col-form-label" dir="ltr" for="entite">Entité :</label>
                                                                <select class="form-control text-center" id="entite" name="entite"  required>
                                                                    {% for entite in entites %}
                                                                        <option>{{ entite.libelleentitefr}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <br class="divisiondiv">
                                                        <div class="row divisiondiv">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="division"> القسم :</label>
                                                                <label class="col-form-label" dir="ltr" for="division">Division :</label>
                                                                <select class="form-control text-center" id="division" name="division">
                                                                    <option id="op3"></option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <br class="districtpashalikdiv">
                                                        <div class="row districtpashalikdiv">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="districtpashalik"> المقاطعة :</label>
                                                                <label class="col-form-label" dir="ltr" for="districtpashalik">District pashalik :</label>
                                                                <select class="form-control text-center" id="districtpashalik" name="districtpashalik">
                                                                    <option>District</option>
                                                                    <option>Pashalik</option>
                                                                    <option>Cercle</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <br class="cerclediv">
                                                        <div class="row cerclediv">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="cercle"> الدائرة :</label>
                                                                <label class="col-form-label" dir="ltr" for="cercle">Cercle :</label>
                                                                <select class="form-control text-center" id="cercle" name="district">
                                                                    <option id="op4"></option>
                                                                    {% for cercle in cercles %}
                                                                        <option value="{{ cercle.idcercle }}">{{ cercle.libellecerclefr }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <br class="caidadiv">
                                                        <div class="row caidadiv">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="caida"> القيادة :</label>
                                                                <label class="col-form-label" dir="ltr" for="caida">Caida :</label>
                                                                <select class="form-control text-center" id="caida" name="district">

                                                                </select>
                                                            </div>

                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="datecaida"> تاريخ التعيين :</label>
                                                                <label class="col-form-label" dir="ltr" for="datecaida">Date d'affectation :</label>
                                                                 <input type="date" class="form-control text-center" name="datecaida">
                                                            </div>
                                                        </div>

                                                        <br class="districtdiv">
                                                        <div class="row districtdiv">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="district"> المقاطعة :</label>
                                                                <label class="col-form-label" dir="ltr" for="district">District :</label>
                                                                <select class="form-control text-center" id="district" name="district">
                                                                    <option id="op0"></option>
                                                                    {% for district in districts %}
                                                                        <option value="{{ district.iddistrict }}">{{ district.libelledistrictfr }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <br class="pashalikdiv">
                                                        <div class="row pashalikdiv">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="pashalik"> الباشوية :</label>
                                                                <label class="col-form-label" dir="ltr" for="pashalik">Pashalik :</label>
                                                                <select class="form-control text-center" id="pashalik" name="pashalik">
                                                                    {% for pashalik in pashaliks %}
                                                                        <option value="{{ pashalik.idpashalik }}">{{ pashalik.libellepashalikfr}}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>

                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="datepashalik"> تاريخ التعيين :</label>
                                                                <label class="col-form-label" dir="ltr" for="datepashalik">Date d'affectation :</label>
                                                                 <input type="date" class="form-control text-center" name="datepashalik">
                                                            </div>
                                                        </div>
                                                        <br class="annexediv">
                                                        <div class="row annexediv">

                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="annexe"> ملحقة إدارية :</label>
                                                                <label class="col-form-label" dir="ltr" for="annexe">Annexe :</label>
                                                                <select class="form-control text-center" id="annexe" name="annexe">

                                                                </select>
                                                            </div>

                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="dateannexe"> تاريخ التعيين :</label>
                                                                <label class="col-form-label" dir="ltr" for="dateannexe">Date d'affectation :</label>
                                                                 <input type="date" class="form-control text-center" name="dateannexe">
                                                            </div>
                                                        </div>

                                                        <br class="servicediv">
                                                        <div class="row servicediv">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="service"> إدارة :</label>
                                                                <label class="col-form-label" dir="ltr" for="service">Service :</label>
                                                                <select class="form-control text-center" id="service" name="service">

                                                                </select>
                                                            </div>
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="dateservice"> تاريخ التعيين :</label>
                                                                <label class="col-form-label" dir="ltr" for="dateservice">Date d'affectation :</label>
                                                                 <input type="date" class="form-control text-center" name="dateservice">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane" id="tab-2" role="tabpanel">
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="statutgrade"> الدرجة :</label>
                                                                <label class="col-form-label" dir="ltr" for="statutgrade">Status Grades :</label>
                                                                <select class="form-control text-center" name="statutgrade" id="statutgrade" required>
                                                                        <option  id="op1" selected></option>
                                                                    {% for statut in statutgrades %}
                                                                        <option value="{{ statut.idstatutgrade }}">{{ statut.statutgradear }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">

                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="grade"> الدرجة :</label>
                                                                <label class="col-form-label" dir="ltr" for="grade">Grade :</label>
                                                                <select class="form-control text-center" name="grade" id="grade"  required>

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="dategrade"> تاريخ التعيين :</label>
                                                                <label class="col-form-label" dir="ltr" for="dategrade">Changement de grade :</label>
                                                                 <input type="date" class="form-control text-center" name="dategrade" value="" required>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-3" hidden>
                                                                <label class="col-form-label float-right" for="indice"> رمز :</label>
                                                                <label class="col-form-label" dir="ltr" for="indice">Indice :</label>
                                                                <select class="form-control text-center" id="indice" name="indice" readonly>

                                                                </select>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <label class="col-form-label float-right" for="indice"> رمز :</label>
                                                                <label class="col-form-label" dir="ltr" for="indice">Indice :</label>
                                                                <input class="form-control text-center" id="dpindice"  readonly>
                                                            </div>

                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="echellon"> الرتبة :</label>
                                                                <label class="col-form-label" dir="ltr" for="echellon">Echellon :</label>
                                                                <select class="form-control text-center" id="echellon" name="echellon" required>


                                                                </select>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="dateechellon"> تاريخ التعيين :</label>
                                                                <label class="col-form-label" dir="ltr" for="dateechellon">Changement d'echellon :</label>
                                                                 <input type="date" class="form-control text-center" name="dateechellon" required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane" id="tab-3" role="tabpanel">
                                                        <div class="row">
                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="datefonction"> تاريخ المهمة :</label>
                                                                <label class="col-form-label" dir="ltr" for="datefonction">Date Fonction :</label>
                                                                 <input type="date" class="form-control text-center" name="datefonction" required>
                                                            </div>

                                                            <div class="col-md">
                                                                <label class="col-form-label float-right" for="grade"> المهمة :</label>
                                                                <label class="col-form-label" dir="ltr" for="grade">Fonction :</label>
                                                                <select class="form-control text-center" name="fonction"  required>
                                                                {% for fonction in fonctions %}
                                                                    <option value="{{fonction.idfonction}}">{{ fonction.libellefonctionfr }} - {{ fonction.libellefontionar }}</option>
                                                                {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-12 col-xxl-12">
                        <div class="card flex-fill">
                            <div class="card-body"><!--data-toggle="modal" data-target="#defaultModalSuccess"-->
                            <center><button type="submit" class="btn col-md-2"  style="font-size: 130%;">تسجيل</button></center>
                                <div class="modal fade" id="defaultModalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">اضافة</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body m-3">
                                                <p class="mb-0">تأكيد اضافة عامل</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success">تأكيد</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             {% endif %}
        </form>
      <script>
      var url0 = "{% url 'ajaxajouterloadannexe' %}"
       var url1 = "{% url 'ajaxajouterloadgrade' %}";
       var url2 = "{% url 'ajaxajouterloadechellon' %}";
       var url3 = "{% url 'ajaxajouterloadsevice' %}";
       const url4 = "{% url 'ajaxajouterloadcaida' %}";
       const url6 = "{% url 'ajaxajouterloaddivision' %}"
      </script>
      <script type="text/javascript" src="{% static 'js/GestionPersonnel/ajouter.js' %}"></script>
{% else %}
      <div class="row h-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="text-center">
							<h1 class="display-1 font-weight-bold" style="color: red">401</h1>
							<p class="h1"></p>
							<p class="h2 font-weight-normal mt-3 mb-4"  style="color: red">ليس لديكم الحق للولوج لهته الصفحة</p>
							<a href="{% url 'consultation' %}" class="btn btn-primary btn-lg">الرجوع</a>
						</div>
					</div>
				</div>
			</div>
{% endif %}
{% endblock %}




