{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    <title>{% block title %} معلومات {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleconsultation.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Montserrat:wght@800;900&display=swap" rel="stylesheet">
    <!-- CSS only -->
    <div class="col-12 col-xl-12">
        <div class="card shadow">
            <form method="get" id="formsearch">
                <div class="card-header text-right">
                    <h3 class="text-right"><strong>البحث</strong></h3>
                    <hr>
                    <div class="row mr-2">
                        <div class="row">
                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="entite"> الكيان :</label>
                                <select class="form-control text-center" id="entite" name="entite"  required>
                                    <option value=""></option>
                                    {% for entite in entites %}
                                        <option>{{ entite.libelleentitefr}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br class="divisiondiv">
                        <div class="row divisiondiv">
                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="division"> القسم :</label>
                                <select class="form-control text-center" id="division" name="division">
                                    <option id="op3"></option>
                                </select>
                            </div>
                        </div>

                        <br class="districtpashalikdiv">
                        <div class="row districtpashalikdiv">
                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="districtpashalik"> المقاطعة :</label>
                                <select class="form-control text-center" id="districtpashalik" name="districtpashalik">
                                    <option value=""></option>
                                    <option>District</option>
                                    <option>Pashalik</option>
                                    <option>Cercle</option>
                                </select>
                            </div>
                        </div>

                        <br class="cerclediv">
                        <div class="row cerclediv">
                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="cercle"> الدائرة :</label>
                                <select class="form-control text-center" id="cercle" name="cercle">
                                    <option id="op4"></option>
                                    {% for cercle in cercles %}
                                        <option value="{{ cercle.idcercle }}">{{ cercle.libellecerclefr }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br class="caidadiv">
                        <div class="row caidadiv">
                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="caida"> القيادة :</label>
                                <select class="form-control text-center" id="caida" name="caida">

                                </select>
                            </div>
                        </div>

                        <br class="districtdiv">
                        <div class="row districtdiv">
                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="district"> المقاطعة :</label>
                                <select class="form-control text-center" id="district" name="district">
                                    <option id="op0" value=""></option>
                                    {% for district in districts %}
                                        <option value="{{ district.iddistrict }}">{{ district.libelledistrictfr }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br class="pashalikdiv">
                        <div class="row pashalikdiv">
                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="pashalik"> الباشوية :</label>
                                <select class="form-control text-center" id="pashalik" name="pashalik">
                                    <option value=""></option>
                                    {% for pashalik in pashaliks %}
                                        <option value="{{ pashalik.idpashalik }}">{{ pashalik.libellepashalikfr}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br class="annexediv">
                        <div class="row annexediv">

                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="annexe"> ملحقة إدارية :</label>
                                <select class="form-control text-center" id="annexe" name="annexe">

                                </select>
                            </div>
                        </div>

                        <br class="servicediv">
                        <div class="row servicediv">
                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="service"> إدارة :</label>
                                <select class="form-control text-center" id="service" name="service">
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row">
                       <div class="row mr-2">
                            <div class="col-md-10">
                                <label class="col-form-label float-right" for="statutgrade"> حالة الدرجة :</label>
                                <select class="form-control text-center" name="statutgrade" id="statutgrade" required>
                                        <option  id="op1" value="-1" selected></option>
                                    {% for statut in statutgrades %}
                                        <option value="{{ statut.idstatutgrade }}">{{ statut.statutgradear }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-form-label float-right" for="grade"> الدرجة :</label>
                                    <select class="form-control text-center" name="grade" id="grade"  required>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                    <div class="row">
                        <div class="col-1"><label class="col-form-label form-check-inline">الجنس &nbsp;:</label></div>
                        <div class="col-3">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioGenre" value="Homme"/>
                                <span class="form-check-label"> &nbsp; ذكر </span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioGenre" value="Femme"/>
                                <span class="form-check-label">  &nbsp; أنثى </span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form method="POST">
    {% csrf_token %}
        <div class="col-12 col-xl-12">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="text-right"><strong>الموضفين</strong></h3>
                    <h6 class="card-subtitle text-muted text-right">معلومات الموضفين</h6>
                    <br>
                </div>
                <div class="col-12 col-lg-12 col-xxl-12 d-flex tablechange">
                    <table class="table table-striped text-center" id="table">
                        <thead style="background-color: #ED2B33FF;color: white">
                            <tr>
                                <th>ر.ب.و</th>
                                <th>ب.ب.ر</th>
                                <th>الاسم الكامل</th>
                                <th>الجنس</th>
                                <th>الميزانية</th>
                                <th>قسم</th>
                                 <th>الدرجة</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                         {% for personnel in listPerso %}
                                  <tr class="tb-colon"  >
                                        <td>{{ personnel.cin }}</td>
                                        <td>{{ personnel.ppr }}</td>
                                        <td>{{personnel.nomfr}} - {{ personnel.prenomfr }}</td>
                                        <td>{{ personnel.sexe }} </td>
                                        <td>{{personnel.administrationapp}}</td>
                                      {% if 'idservice_field__libelleservicefr' in personnel %}
                                          <td>{{ personnel.idservice_field__libelleservicear }}</td>
                                      {% elif 'idannexe_field__libelleannexefr' in personnel %}
                                          <td>{{ personnel.idannexe_field__libelleannexefr  }}</td>
                                      {% elif 'idcaidat_field__libellecaidatfr' in personnel %}
                                          <td>{{ personnel.idcaidat_field__libellecaidatfr }}</td>
                                      {% elif 'idpashalik_field__libellepashalikfr' in personnel %}
                                          <td>{{ personnel.idpashalik_field__libellepashalikfr }}</td>
                                      {% endif %}
                                      <td>{{ personnel.idgrade_field__gradefr }}</td>
                                      <td><a href="{% url 'personnelinfo' personnel.idpersonnel %}" class="btn btn-success m-1"><i class="fa-solid fa-arrow-up-right-from-square fa-lg " ></i></a><a href="{% url 'modifier' personnel.idpersonnel %}"class="btn btn-warning btn-icon  mx-1"><i class="fa-solid fa-pen-to-square fa-lg"></i></a> </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <script>
      var url0 = "{% url 'ajaxajouterloadannexe' %}"
       var url1 = "{% url 'ajaxajouterloadgrade' %}";
       var url2 = "{% url 'ajaxajouterloadechellon' %}";
       var url3 = "{% url 'ajaxajouterloadsevice' %}";
       const url4 = "{% url 'ajaxajouterloadcaida' %}";
       const url6 = "{% url 'ajaxajouterloaddivision' %}"
      document.getElementById('formsearch').addEventListener('change',function (e){
          entite=document.getElementById('entite');
          division=document.getElementById('division');
          districtpashalik=document.getElementById('districtpashalik');
          console.log(e.target.getAttribute('name'));
          console.log(e.target.value);
          let val= e.target.getAttribute('name') +'-'+e.target.value;
          let table=$('#table').DataTable()
          table.clear().draw();
          if(e.target.getAttribute('name')=='statutgrade'){
              let entite=document.getElementsByName('entite')[0].value;
              let division=document.getElementsByName('division')[0].value;
              let service=document.getElementsByName('service')[0].value;
              let districtpashalik=document.getElementsByName('districtpashalik')[0].value;
              let district=document.getElementsByName('district')[0].value;
              let annexe=document.getElementsByName('annexe')[0].value;
              let pashalik=document.getElementsByName('pashalik')[0].value;
              let cercle=document.getElementsByName('cercle')[0].value;
              let caida=document.getElementsByName('caida')[0].value;
              if(entite!=''){
                  if(division!='') {
                      if (service != '') {
                          console.log('filter service')
                      }else {
                          console.log('filter Division')
                      }
                  }else if(districtpashalik!=''){
                            if(district!=''){
                                if(annexe!=''){
                                    console.log('annexe filter')
                                }else{
                                    console.log('district filter')
                                }
                            }else if(pashalik!=''){
                                    console.log('pashalik filter')
                            }else if(cercle!=''){
                                if(caida!=''){
                                    console.log('caida filter')
                                }else{
                                    console.log('cercle filter')
                                }
                            }else{
                                console.log('filter with' +districtpashalik)
                            }
                  }else{
                            console.log('filter with '+entite)
                  }
              }else{
                  console.log('All')
              }
          }
          ajaxPerso(val)
      })

 function ajaxPerso(selectedbudget){
    $.ajax({
        type: 'get',
        url: `perso-json/${selectedbudget}/`,
        success: function(response){
            const persoData = response.data
            //let tb1 = document.querySelector('#tbody');
           // tb1.innerHTML=""
          dataa=JSON.parse(persoData);
          dataa.forEach(item=>{
                let table =$('#table').DataTable();
                let idp = item.idpersonnel;
                let vl;
                if('idservice_field__libelleservicefr' in item)
                    vl='idservice_field__libelleservicefr'
                else if('idpashalik_field__libellepashalikfr' in item)
                       vl= 'idpashalik_field__libellepashalikfr'
                else if('idcaidat_field__libellecaidatfr' in item)
                       vl='idcaidat_field__libellecaidatfr'
                else if('idannexe_field__libelleannexefr' in item)
                        vl='idannexe_field__libelleannexefr'
                table.row.add([
                    item.cin ,
                    item.ppr,
                    item.nomfr+"-"+item.prenomfr,
                    item.sexe,
                    item.administrationapp,
                    item[vl],
                    item.idgrade_field__gradefr,
                   `<a href="personnelinfo/${idp}" class="btn btn-success m-1"><i class="fa-solid fa-arrow-up-right-from-square fa-lg " ></i></a><a href="modifier/${idp}"class="btn btn-warning btn-icon  mx-1"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>`
                ]).draw();
            })
        },
        error: function(error){
            console.log(error)
        }
    })
}
      </script>
    <script type="text/javascript" src="{% static 'js/GestionPersonnel/ajouter.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.flash.min.js' %}"></script>
<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/buttons.print.min.js' %}"></script>
<script src="{% static 'js/xlsx.full.min.js' %}"></script>
<script src="{% static 'js/semantic.min.js' %}"></script>
<script src="{% static 'js/scriptConsultation.js' %}"></script>
{% endblock %}