{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    <title>{% block title %} معلومات {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Montserrat:wght@800;900&display=swap" rel="stylesheet">
    <style>
    h3{
        font-family: "Cairo ExtraLight"
    }

    </style>
    <!-- CSS only -->
    <div class="col-12 col-xl-12">
        <div class="card">
            <form method="get" id="formsearch">
                <div class="card-header text-right">
                    <h3 class="text-right"><strong>البحت</strong></h3>
                    <hr>
                    <div class="row">
                        <div class="col-3">
                            <label class="col-form-label">الميزانية :</label>
                            <div class="ui selection dropdown mr-5 text-right">
                                <input type="hidden" name="budget" id="budget">
                                <i class="dropdown icon"></i>
                                <div class="default text">الميزانية</div>
                                <div class="menu">
                                    <div class="item" data-value="-1">الكل</div>
                                    <div class="item">Général</div>
                                    <div class="item">Préfectoral</div>
                                </div>
                            </div>
                        </div>

                         <div class="col-3">
                            <label class="col-form-label">القسم :</label>
                            <div class="ui selection dropdown mr-5 text-right">
                              <input type="hidden" name="div" id="div">
                              <i class="dropdown icon"></i>
                              <div class="default text">القسم</div>
                              <div class="menu">
                                  <div class="item" data-value="-1">الكل</div>
                                  {% for div in divs %}
                                        <div class="item" data-value="{{ div.iddivision }}">{{ div.libelledivisionfr }}</div>
                                  {% endfor %}
                              </div>
                            </div>
                         </div>

                        <div class="col-3">
                            <label class="col-form-label">الرتبة :</label>
                            <div class="ui selection dropdown mr-5 text-right">
                              <input type="hidden" name="grade" id="grade">
                              <i class="dropdown icon"></i>
                              <div class="default text">الرتبة</div>
                              <div class="menu">
                                  <div class="item" data-value="-1">All</div>
                                  {% for grade in grades %}
                                     <div class="item" data-value="{{ grade.idgrade }}">{{ grade.gradefr }}</div>
                                  {% endfor %}
                              </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"><label class="col-form-label block">الجنس &nbsp;:</label></div>

                        <div class="col-3">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inline-radios-example" value="option1">
                                <span class="form-check-label"> &nbsp; ذكر </span>
                            </label>
                        </div>
                        <div class="col-3">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inline-radios-example" value="option2">
                                <span class="form-check-label">  &nbsp; أنثى </span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <form method="POST">
    {% csrf_token %}
        <div class="col-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-right"><strong>الموضفين</strong></h3>
                    <h6 class="card-subtitle text-muted text-right">معلومات الموضفين</h6>
                    <br>
                    <div class="text-center">
                        <div class="col-sm-3 float-left">
                           <input class="form-control" id="search" placeholder="بحث..... ">
                        </div>

                        <div class="col-sm-2 text-right">
                            <a href="{% url 'ajouterp' %}" class="btn btn-transparent m-1"><i style="color: green" class="fa-solid fa-circle-plus fa-2xl" ></i></a>
                            <a  class="btn btn-transparent m-1" id="export" href="{% url 'export_perso_xls' %}"><i style="color: green" class="fa-solid fa-file-csv fa-2xl" ></i></a>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                    <table class="table table-striped text-center" id="table">
                        <thead>
                            <tr>
                                <th>ر.ب.و</th>
                                <th>الاسم الكامل</th>
                                <th>الميزانية</th>
                                <th>قسم</th>
                                 <th>الرتبة</th>
                                <th>معلومات</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            {% for personnel in personnels %}
                                  <tr class="tb-colon"  >
                                        <td>{{ personnel.Cin }}</td>
                                        <td>{{personnel.NomFr}} - {{ personnel.PrenomFr }}</td>
                                        <td>{{ personnel.AdministrationApp }} </td>
                                        <td>{{ personnel.LibelleDivisionFr }}</td>
                                        <td>{{ personnel.GradeFr }}</td>
                                        <td><a href="info/${idp}" class="btn btn-success m-1"><i class="fa-solid fa-arrow-up-right-from-square fa-lg " ></i></a><a href="modifier/${idp}"class="btn btn-warning btn-icon  mx-1"><i class="fa-solid fa-pen-to-square fa-lg"></i></a> </td>
                                  </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
      <script>
 $('.ui.dropdown').dropdown({
    forceSelection: false
});
 function search() {
    let $rows = $('#table #tbody tr');
    let val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

    $rows.show().filter(function() {
        let text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
}
$(document).on("keyup", "#search",search);
 document.getElementById('formsearch').addEventListener('change', e=>{
     let division = document.getElementById("div").value;
     let budget = document.getElementById("budget").value;
     let grade = document.getElementById("grade").value;
     let ancienneteAdmi = 1;
     let ancienneteAdmiValue=1;
     let idDivision = 1;
     let idDivisionValue=1;
     let idGrade = 1;
     let idGradeValue=1;
     if(e.target.name=="budget"){
        if(division!=""){
            if(division==-1){
                idDivision = 1;
                idDivisionValue=1;
            }else{
                idDivision = "IdDivision";
                idDivisionValue=division;
            }
        }
         if(grade!=""){
            if(grade==-1){
                idGrade = 1;
                idGradeValue=1;
            }else{
                idGrade = "IdGrade";
                idGradeValue=grade;
            }
        }
         if(e.target.value==-1){
               ancienneteAdmi = 1;
               ancienneteAdmiValue=1;
        }else{
            ancienneteAdmi="AdministrationApp";
            ancienneteAdmiValue=e.target.value;
        }

    }
     if(e.target.name=="div"){
        if(budget!=""){
            if(budget==-1){
                ancienneteAdmi = 1;
                ancienneteAdmiValue=1;
            }else{
                ancienneteAdmi = "AdministrationApp";
                ancienneteAdmiValue=budget;
            }
        }
         if(grade!=""){
            if(grade==-1){
                idGrade = 1;
                idGradeValue=1;
            }else{
                idGrade = "IdGrade";
                idGradeValue=grade;
            }
        }
        if(e.target.value==-1){
                idDivision = 1;
                idDivisionValue=1;
        }else{
            idDivision = "IdDivision";
            idDivisionValue=e.target.value;
        }
    }
     if(e.target.name=="grade"){
        if(budget!=""){
            if(budget==-1){
                ancienneteAdmi = 1;
                ancienneteAdmiValue=1;
            }else{
                ancienneteAdmi = "AdministrationApp";
                ancienneteAdmiValue=budget;
            }
        }
         if(division!=""){
            if(division==-1){
                idDivision = 1;
                idDivisionValue=1;
            }else{
                idDivision = "IdDivision";
                idDivisionValue=division;
            }
        }
        if(e.target.value==-1){
                idGrade = 1;
                idGradeValue=1;
        }else{
            idGrade = "IdGrade";
            idGradeValue=e.target.value;
        }
    }
    let values=ancienneteAdmi+"-"+ancienneteAdmiValue+"-"+idDivision+"-"+idDivisionValue+"-"+idGrade+"-"+idGradeValue;
    console.log(e.target.value)
    ajaxPerso(values);
})
 function ajaxPerso(selectedbudget){
    $.ajax({
        type: 'GET',
        url: `perso-json/${selectedbudget}/`,
        success: function(response){
            console.log(response.data)
            const persoData = response.data
            let tb = document.getElementById('tbody');
            tb.innerHTML=""
            localStorage.setItem("budget",selectedbudget);
            persoData.map(item=>{
                let tableBody = $('tbody');
                let personnel;
                let idp = item.IdPersonnel;
                personnel=`<tr class="tb-colon" >
                                <td>${item.Cin}</td>
                                <td>${item.NomFr} - ${item.PrenomFr}</td>
                                <td>${item.AdministrationApp} </td>
                                <td>${item.LibelleDivisionFr}</td>
                                <td>${item.GradeFr}</td>
<td><a href="info/${idp}" class="btn btn-success m-1"><i class="fa-solid fa-arrow-up-right-from-square fa-lg " ></i></a><a href="modifier/${idp}"class="btn btn-warning btn-icon  mx-1"><i class="fa-solid fa-pen-to-square fa-lg"></i></a> </td>                              </tr>`
                tableBody.append(personnel)
            })

        },
        error: function(error){
            console.log(error)
        }
    })
}
{% comment %}function ajaxBudget(selectedbudget){
    $.ajax({
        type: 'GET',
        url: `perso-json/${selectedbudget}/`,
        success: function(response){
            console.log(response.data)
            const persoData = response.data
            let tb = document.getElementById('tbody');
            tb.innerHTML=""
            localStorage.setItem("budget",selectedbudget);
            persoData.map(item=>{
                let tableBody = $('tbody');
                let personnel;
                personnel=`<tr class="tb-colon"  >
                                <td>${item.Cin}</td>
                                <td>${item.NomFr} - ${item.PrenomFr}</td>
                                  <td>${item.LibelleDivisionFr}</td>
                                  <td>${item.ancienneteAdmi} </td>
                                  <td><a class="btn btn-success m-1"><i class="fa-solid fa-eye fa-lg " ></i></a><a><button class="btn btn-warning btn-icon  mx-1"><i class="fa-solid fa-pen fa-xs mx-1"></i></button></a> </td>
                              </tr>`
                tableBody.append(personnel)
            })

        },
        error: function(error){
            console.log(error)
        }
    })
}
function ajaxDivison(selectedDivision){
    $.ajax({
        type: 'GET',
        url: `persodivison-json/${selectedDivision}/`,
        success: function(response){
            console.log(response.data)
            const persoData = response.data
            let tb = document.getElementById('tbody');
            tb.innerHTML=""
            localStorage.setItem("Div",selectedDivision);
            persoData.map(item=>{
                let tableBody = $('tbody');
                let personnel;
                personnel=`<tr class="tb-colon"  >
                                <td>${item.Cin}</td>
                                <td>${item.NomFr} - ${item.PrenomFr}</td>
                                  <td>${item.LibelleDivisionFr}</td>
                                  <td>${item.ancienneteAdmi} </td>
                                  <td><a class="btn btn-success m-1"><i class="fa-solid fa-eye fa-lg " ></i></a><a><button class="btn btn-warning btn-icon  mx-1"><i class="fa-solid fa-pen fa-xs mx-1"></i></button></a> </td>
                              </tr>`
                tableBody.append(personnel)
            })

        },
        error: function(error){
            console.log(error)
        }
    })
}

document.getElementById('budget').addEventListener('change', e=>{
    console.log(e.target.value)
    const selectedPerso = e.target.value
    ajaxBudget(selectedPerso);

})
document.getElementById('div').addEventListener('change', e=>{
    console.log(e.target.value)
    const selectedDiv = e.target.value
    ajaxDivison(selectedDiv);

}){% endcomment %}
    </script>
{% endblock %}