{% extends 'menu.html' %}
{% block content %}
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styleajouter.css' %}">
<script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<div class="page-header card">
	<div class="row align-items-end">
		<div class="col-lg-12">
			<div class="page-header-title text-center">
				<div class="d-inline">
					<h5>
						Personnel - العاملين
					</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pcoded-inner-content">
	<div class="main-body">
		<div class="page-wrapper">
			<div class="page-body">
				<div class="card">
					<div class="card-header">
						<h5>
							Données Professionnel
						</h5>

                        <h5 style="float: right; text-align: right">
							معلومات مهنية
						</h5>
						<span>
							Add class of
							<code>
								.form-control
							</code>
							 with
							<code>
								&lt;input&gt;
							</code>
							 tag
						</span>
					</div>
                <form method="post">
                    {% csrf_token %}
					<div class="card-block">
						<div class="m-b-20">
							<div class="row">
								<div class="col-sm-8 col-lg-6">
                                    <label class="col-form-label">Prénom :</label>
									<div class="input-group">
										<input type="text" class="form-control" name="prenomfr" value="{{ personnel.prenomfr }}" {% if personnel.prenomfr %} readonly {% endif %}  required>
									</div>
								</div>

								<div class="col-sm-8 col-lg-6">
                                    <label class="col-form-label float-right">: الاسم الشخصي</label>
									<div class="input-group">
										<input type="text" class="form-control" name="prenomar" value="{{ personnel.prenomar }}" {% if personnel.prenomar %} readonly {% endif %}  required>
									</div>
								</div>

							</div>

							<div class="row">

								<div class="col-sm-8 col-lg-6">
                                    <label class="col-form-label">Nom  :</label>
									<div class="input-group">
										<input type="text" class="form-control" name="nomfr" value="{{ personnel.nomfr }}" {% if personnel.nomfr %} readonly {% endif %}  required>
									</div>
								</div>



								<div class="col-sm-8 col-lg-6">
                                    <label class="col-form-label float-right">: الاسم العائلي</label>
									<div class="input-group">
										<input type="text" class="form-control" name="nomar" value="{{ personnel.nomar }}" {% if personnel.nomfr %} readonly {% endif %}  required>
									</div>
								</div>
							</div>

                            <div class="row">
								<div class="col-sm-8 col-lg-12">
                                    <label class="col-form-label">CIN :</label>
                                    <label class="col-form-label float-right">: ر.ب.و </label>
									<div class="input-group">
										<input type="text" name="cin" class="form-control" value="{{ personnel.cin }}" {% if personnel.cin %} readonly {% endif %}   required>
									</div>
								</div>
							</div>

                            <div class="row">
								<div class="col-sm-8 col-lg-6">
                                    <label class="col-form-label">Adresse :</label>
									<div class="input-group">
										<input type="text" class="form-control" name="adressefr" value="{{ personnel.adressefr }}"   required>
									</div>
								</div>


								<div class="col-sm-8 col-lg-6">
                                    <label class="col-form-label float-right">: العنوان</label>
									<div class="input-group">
										<input type="text" class="form-control" name="adressear" value="{{ personnel.adressear }}"  required>
									</div>
								</div>
							</div>

                             <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label">Situation familiale :</label>
                                        <label class="col-form-label float-right">: الوضع العائلي</label>
                                        <div class="input-group">
                                            <select class="form-control  text-center" name="situationffr"  required>
                                                <option>marié(e) - متزوج(ة)</option>
                                                <option>divorcé(e) - مطلق(ة)</option>
                                                <option>célibataire(e) - بدون</option>
                                                <option selected>{{ personnel.situationfamilialefr }} - {{ personnel.situationfamilialear }}</option>
                                            </select>
                                        </div>
                                    </div>
                             </div>

                            <div class="row">
								<div class="col-sm-8 col-lg-12">
                                    <label class="col-form-label ">Tele :</label>
                                    <label class="col-form-label float-right">: الهاتف</label>
									<div class="input-group">
										<input type="text" class="form-control" name="tele" value="{{ personnel.tele }}" required>
									</div>
								</div>
							</div>

                            <div class="row">
								<div class="col-sm-8 col-lg-12">
                                    <label class="col-form-label ">Email :</label>
                                    <label class="col-form-label float-right">: البريد الالكتروني</label>
									<div class="input-group">
										<input type="text"  class="form-control" name="email" value="{{ personnel.email }}"  required>
									</div>
								</div>
							</div>
                            {% if personnel.cin %}
                                <!--<div class="alert alert-success alert-dismissible fade show" role="alert">
                                     <center>ajouté avec succès | أضيف بنجاح.</center>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>-->
                            {% endif %}
						</div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="sub-title"><span >Conjoint</span><span class="float-right">الزوج</span></h4>
                            <div class="row">
                                <div class="col-sm-8 col-lg-12">
                                    <div class="table-responsive col-lg-12">
                                            <div class="input-group">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>Cin</th>
                                                        <th>Nom Complet</th>
                                                        <th>الاسم الكامل</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%  for conjoint in conjoints %}
                                                        <tr>
                                                            <td>{{ conjoint.cin }}</td>
                                                            <td>{{ conjoint.nomfr }}</td>
                                                            <td>{{ conjoint.nomar }}</td>
                                                            <td><a href="#"><i class="fa fa-edit"></i></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="sub-title"><span >enfants</span><span class="float-right">الاطفال</span></h4>
                            <div class="row">
                                <div class="col-sm-8 col-lg-12">
                                      <div class="table-responsive col-lg-12">
                                             <div class="table-responsive">
                                                 <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>Nom Complet</th>
                                                        <th>الاسم الكامل</th>
                                                        <th>الزوج - Conjoint</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {%  for enfant in enfants %}
                                                        <tr>
                                                            <td>{{ conjoint.cin }}</td>
                                                            <td>{{ conjoint.nomfr }}</td>
                                                            <td>{{ conjoint.nomar }}</td>
                                                            <td><a href="#"><i class="fa fa-edit"></i></a></td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                             </div>
                                     </div>
                                </div>
                            </div>
                        </div>
				    </div>
                    </div>
                </form>
		    </div>



				<div class="card">
					<div class="card-header">
						<h5>
							Données Professionnel
						</h5>

                        <h5 style="float: right; text-align: right">
							معلومات مهنية
						</h5>
						<span>
							Add class of
							<code>
								.form-control
							</code>
							 with
							<code>
								&lt;input&gt;
							</code>
							 tag
						</span>
					</div>
					<div class="card-block">
						<div class="row m-b-20">
							<div class="col-sm-12 col-lg-6">
								<div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Matricule ou N°PPR :</label>
                                        <label class="col-form-label float-right">: رقم التأجير</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="nummatri" value="{{ personnel.cin }}" required>
                                        </div>
                                    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Numéro d'identification fiscale :</label>
                                        <label class="col-form-label float-right">: الرقم المالي</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="numiden" value="{{ personnel.cin }}" required>
                                        </div>
                                    </div>
							    </div>

                                 <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Date de recrutement :</label>
                                        <label class="col-form-label float-right">: تاريخ التوظيف</label>
                                        <div class="input-group">
                                            <input type="date" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>


                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Date de démarcation :</label>
                                        <label class="col-form-label float-right">: تاريخ الترسيم</label>
                                        <div class="input-group">
                                            <input type="date" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>


                                 <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Date de départ à la retraite :</label>
                                        <label class="col-form-label float-right">: تاريخ الإحالة على التقاعد</label>
                                        <div class="input-group">
                                            <input type="date" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Numéro cnopsAf :</label>
                                        <label class="col-form-label float-right">: رفم cnopsAf</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Numéro cnopsLm :</label>
                                        <label class="col-form-label float-right">: رفم cnopsLm</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>

							</div>


							<div class="col-sm-12 col-lg-6">
								<div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Cmr :</label>
                                        <label class="col-form-label float-right">: الصندوق المغربي للتقاعد</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Poste de l'employé :</label>
                                        <label class="col-form-label float-right">: منصب الموظف</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Type d'employé :</label>
                                        <label class="col-form-label float-right">: نوع الموظف</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Tâches précédentes :</label>
                                        <label class="col-form-label float-right">: المهام السابقة</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Rib :</label>
                                        <label class="col-form-label float-right">: ر.ي.ب</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Ancienneté administrative :</label>
                                        <label class="col-form-label float-right">: الأقدمية الإدارية</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Administration App :</label>
                                        <label class="col-form-label float-right">: إدارة</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
							    </div>
                            </div>
						</div>
						<div class="row">
							<div class="col-sm-6">
                                <h4 class="sub-title"><span >Service</span><span class="float-right">خدمة</span></h4>
								<div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <div class="input-group">
                                            <select class="form-control text-center" name="situationfar"  required>
                                                {% for service in services %}
                                                    <option value="{{ service.idservice }}">{{ service.libelleservicefr }} - {{ service.libelleservicear }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
								    </div>

							    </div>

                                <div class="row">
                                        <div class="col-sm-8 col-lg-12">
                                            <label class="col-form-label ">Date d'affectation :</label>
                                            <label class="col-form-label float-right">: تاريخ التكليف</label>
                                            <div class="input-group">
                                                <input type="date" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                            </div>
                                        </div>
                                </div>
							</div>

							<div class="col-sm-6">
								<h4 class="sub-title"><span >Grade</span><span class="float-right">المرتبة</span></h4>
								<div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <div class="input-group">
                                            <select class="form-control text-center" name="situationfar"   required>
                                                {% for grade in grades %}
                                                    <option value="{{ grade.idgrade }}">{{ grade.gradefr }} - {{ grade.gradear }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
								    </div>
							    </div>

                                <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label ">Date d'affectation :</label>
                                        <label class="col-form-label float-right">: تاريخ التكليف</label>
                                        <div class="input-group">
                                            <input type="date" class="form-control" name="daterec" value="{{ personnel.datenaissance }}" required>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>

                            <center>
                                <p>
                                    <div class="col-sm-2 col-lg-2" >
                                        <p>
                                             <button type="submit" class="btn btn-success bg-white"  {% if personnel.cin %} disabled style="cursor: not-allowed; color: lightseagreen"{% else %}style="color: lightseagreen" {% endif %} >Enregistrer | حفظ</button>
                                        </p>
                                     </div>

                                </p>
                            </center>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>



    <script type="text/javascript">
            function red ()
            {
                var val = document.getElementsByName('cin')[0].value;
                var data = "conjoint?personnel="+val;
                window.open(data,'conjoint','width=500,height=650');
            }
    </script>
{% endblock %}