<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diplôme - ديبلومات</title>
    {% load static  %}
    <style>
    body {width:500px!important;height:500px!important;}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Diplôme</h5>
         <h5 class="modal-title textarab" id="exampleModalLabel">ديبلومات</h5>
      </div>
            <form action="" method="POST">
                  <div class="modal-body">
                            {% csrf_token %}

                             <p>
                                 <label class="col-form-label" for="diplomefr">Diplôme :</label>
                                 <input type="text" name="diplomefr" class="form-control" value="{{ diplome.diplomefr }}">
                             </p>

                              <p>
                                 <label class="col-form-label float-right" for="diplomear" >: ديبلوم</label>
                                  <input type="text"  name="diplomear" class="form-control" value="{{ diplome.diplomear }}">
                             </p>

                              <p>
                                 <label class="col-form-label" for="etabfr">Établissement :</label>
                                  <input type="text" name="etabfr"  class="form-control" value="{{ diplome.etablissement }}">
                             </p>

                              <p>
                                 <label class="col-form-label float-right" for="etabar" >: مؤسسة</label>
                                  <input type="text" name="etabar" class="form-control">
                              </p>

                              <p>
                                 <label class="col-form-label" for="spefr">Spécialité :</label>
                                  <input type="text" name="spefr"  class="form-control" value="{{ diplome.specialitefr }}">
                             </p>

                              <p>
                                 <label class="col-form-label float-right" for="spear" >: مؤسسة</label>
                                  <input type="text" name="spear" class="form-control" {{ diplome.specialitear }}>
                              </p>

                             <p>
                                 <label class="col-form-label" for="datedip">Date de diplôme :</label> <label class="col-form-label float-right" for="datedip" >: تاريخ على الديبلوم</label>
                                 <input type="date" name="datedip" class="form-control" {{ diplome.datediplome }}>
                             </p>

                  </div>
                    {% if suc == 'yes' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <center>modifié avec succès | أضيف بنجاح.</center>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <script>
                            window.onload = function ()
                            {
                                window.opener.location.reload();
                            }
                        </script>
                    {% endif %}
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enregistrer - حفظ</button>
                  </div>
            </form>
      </div>
    </div>
  </body>
</html>