<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static  %}
    <title>Enfant - الطفل</title>
    <style>
    body {width:500px!important;height:500px!important;}
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enfant</h5>
         <h5 class="modal-title textarab" id="exampleModalLabel">الطفل</h5>
      </div>
            <form action="" method="POST">
                  <div class="modal-body">
                            {% csrf_token %}

                             <p>
                                 <label class="col-form-label" for="prenomfr">Prénom :</label>
                                 <input type="text" name="prenomfr" class="form-control" value="{{ enfant.prenomfr }}">
                             </p>

                              <p>
                                 <label class="col-form-label float-right" for="prenomar" >: الاسم الشخصي</label>
                                  <input type="text"  name="prenomar" class="form-control" value="{{ enfant.prenomar }}">
                             </p>

                              <p>
                                 <label class="col-form-label" for="nomfr">Nom :</label><input type="text" name="nomfr"  class="form-control" value="{{ enfant.nomfr }}">
                             </p>

                              <p>
                                 <label class="col-form-label float-right" for="nomar" >: الاسم العائلي</label>
                                  <input type="text" name="nomar" class="form-control" value="{{ enfant.nomar }}">
                              </p>

                             <p>
                                 <label class="col-form-label" for="lieun">lieu de naissance :</label>
                                 <input type="text" name="lieunfr" class="form-control" value="{{ enfant.lieunaissancefr }}">
                             </p>

                             <p>
                                 <label class="col-form-label float-right" for="lieun">: مكان الازدياد</label>
                                 <input type="text" name="lieunar" class="form-control" value="{{ enfant.lieunaissancear }}">
                             </p>

                              <p>
                                 <label class="col-form-label" for="lienj">Lien juridique :</label> <label class="col-form-label float-right" >: ر.ب.و</label>
                                  <input type="text"  name="lienj" class="form-control" value="{{ enfant.lienjuridique }}">
                              </p>

                              <p>
                                 <label class="col-form-label" for="daten">Date de naissance :</label> <label class="col-form-label float-right" for="daten" >: تاريخ الازدياد</label>
                                  <input type="date" name="daten" class="form-control" value="{{ enfant.datenaissance|date:'Y-m-d' }}">
                             </p>

                            <p>
                                 <label class="col-form-label" for="mere">Conjoint :</label> <label class="col-form-label float-right" >: الزوج</label>
                                <select class="form-control" name="mere">
                                {% for conjoint in conjoints %}
                                    <option {% if conjoint.id == enfant.idconjoint_field %} selected {% endif %} value="{{ conjoint.idconjoint }}"> {{ conjoint.cin }} - {{ conjoint.nomar }} {{ conjoint.nomar }}</option>
                                {% endfor %}
                                </select>
                             </p>

                  </div>
                    {% if suc == 'yes' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <center>modifié avec succès | أضيف بنجاح.</center>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enregistrer - حفظ</button>
                  </div>
            </form>
      </div>
    </div>
  </body>
</html>