{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    <title>{% block title %}تعديل{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Montserrat:wght@800;900&display=swap" rel="stylesheet">
    <style>
        h3{
            font-family: "Cairo ExtraLight"
        }
        #donneperso{
            background-color: #D42D1E;
        }
        div#donneperso:hover{
            background-color: #eb3121;
        }
        #photo{
            display: none;
        }
    </style>

<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
        <div class="row">
            <div class="col-sm-12 col-lg-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header d-flex h-25" id="donneperso">
                        <h3 class="card-title text-center text-white" dir="ltr">
                            <strong>معلومات شخصية</strong>
                        </h3>
                    </div>
                    <hr>
                    <div class="card-body" id="persocard">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <div class="text-center">
                                        <div class="mt-2">
                                            <input type="image" src="{% static 'images/genericpersonnel.webp' %}" id="image" class="rounded-circle img-responsive mt-2" width="124" height="124"/>
                                            <input type="file" name="photo" id="photo"  onchange="previewPicture(this)"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="prenomar">الاسم الشخصي :</label>
                                        <input type="text" class="form-control text-center" name="prenomar"  value="{{ personnel.prenomar }}"  required>
                                    </div>

                                    <div class="col-md">
                                        <label for="prenomfr" class="col-form-label" dir="ltr">Prénom :</label>
                                        <input type="text" class="form-control text-center" name="prenomfr" value="{{ personnel.prenomfr }}"  required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="nomfr"> الاسم العائلي :</label>
                                        <input type="text" class="form-control text-center" name="nomfr" value="{{ personnel.nomfr }}"   required>
                                    </div>

                                    <div class="col-md">
                                        <label for="nomar" class="col-form-label" dir="ltr">Nom :</label>
                                        <input type="text" class="form-control text-center" name="nomar" value="{{ personnel.nomar }}"  required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="lieunar"> مكان الازدياد :</label>
                                        <input type="text" class="form-control text-center" name="lieunar" value="{{ personnel.lieunaissancear}}"  required>
                                    </div>

                                    <div class="col-md">
                                        <label for="lieunfr" class="col-form-label" dir="ltr">lieu de naissance :</label>
                                        <input type="text" class="form-control text-center" name="lieunfr" value="{{ personnel.lieunaissancefr }}"  required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="adressear"> العنوان :</label>
                                        <input type="text" class="form-control text-center" name="adressear" value="{{ personnel.adressear }}"  required>
                                    </div>

                                    <div class="col-md">
                                        <label for="adressefr" class="col-form-label" dir="ltr">Adresse :</label>
                                        <input type="text" class="form-control text-center" name="adressefr"  value="{{ personnel.adressefr }}"  required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="situationfar"> الوضع العائلي :</label>
                                        <label class="col-form-label" dir="ltr" for="situationfar">Situation familiale :</label>
                                        <select class="form-control text-center" name="situationfar"   required>
                                            <option {% if personnel.situationfamilialefr == 'marié(e)' %} selected {% endif %} value="1">متزوج(ة)-marié(e)</option>
                                            <option {% if personnel.situationfamilialefr == 'divorcé(e)' %} selected {% endif %} value="2">مطلق(ة)-divorcé(e)</option>
                                            <option {% if personnel.situationfamilialefr == 'célibataire(e)' %} selected {% endif %} value="3">بدون-célibataire(e)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="sexe"> الجنس :</label>
                                        <label class="col-form-label" dir="ltr" for="sexe">Sexe :</label>
                                        <select class="form-control  text-center" name="sexe"   required>
                                            <option {% if personnel.sexe == 'Homme-ذكر' %} selected {% endif %}>Homme-ذكر</option>
                                            <option {% if personnel.sexe == 'Femme-أنثى' %} selected {% endif %}>Femme-أنثى</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="daten"> تاريخ الازدياد :</label>
                                        <label class="col-form-label" dir="ltr" for="daten">Date de naissance :</label>
                                        <input type="date" class="form-control text-center" name="daten"  value="{{personnel.datenaissance|date:'Y-m-d' }}"  required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="cin"> ر.ب.و :</label>
                                        <label class="col-form-label" dir="ltr" for="cin">Cin :</label>
                                        <input type="text" class="form-control text-center" name="cin" value="{{ personnel.cin }}" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="email"> البريد الالكتروني :</label>
                                        <label class="col-form-label" dir="ltr" for="email">Email :</label>
                                        <input type="text" class="form-control text-center" name="email" value="{{ personnel.email }}"  required>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="tele"> الهاتف :</label>
                                        <label class="col-form-label" dir="ltr" for="tele">Tele :</label>
                                        <input type="text" class="form-control text-center" name="tele" value="{{ personnel.tele }}"  required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div>
                                        <br>
                                            <h5 class="card-title" dir="ltr">Conjoint :<span class="float-right">: الزوج</span></h5>

                                            <table class="table table-striped text-center">
                                            <thead>
                                                <tr>
                                                    <th>الاسم الكامل</th>
                                                    <th>تاريخ الازدياد</th>
                                                    <th>تعديل</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for conjoint in conjoints %}
                                                  <tr class="tb-colon">
                                                    <td>{{conjoint.nomar}} - {{ conjoint.prenomar }}</td>
                                                    <td>{{ conjoint.datenaissance|date:'Y-m-d' }}</td>
                                                    <td><a onclick="red( '/personnel/modifier_conjoint', '{{  conjoint.idconjoint }}')"  class="btn btn-warning btn-icon  mx-1"><i class="fa-solid fa-pen fa-xs mx-1"></i></a> </td>
                                                  </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="col-md-4">
                                        <div>
                                        <br>
                                            <h5 class="card-title" dir="ltr">Enfants :<span class="float-right">: الاطفال</span></h5>
                                            <table class="table table-striped text-center">
                                                <thead>
                                                    <tr>
                                                        <th>الاسم الكامل</th>
                                                        <th>تاريخ الازدياد</th>
                                                        <th>تعديل</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for enfant in enfants %}
                                                      <tr class="tb-colon"  >
                                                        <td>{{ enfant.nomar}} - {{ enfant.prenomar }}</td>
                                                        <td>{{ personnel.datenaissance|date:'Y-m-d' }}</td>
                                                        <td><a  onclick="red( '/personnel/modifier_enfant', '{{ enfant.idenfant }}')" class="btn btn-warning btn-icon  mx-1"><i class="fa-solid fa-pen fa-xs mx-1"></i></a> </td>
                                                      </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                    </div>

                                    <div class="col-md-4">
                                        <div>
                                        <br>
                                            <h5 class="card-title" dir="ltr">Diplômes :<span class="float-right">: ديبلومات</span></h5>
                                            <table class="table table-striped text-center">
                                                <thead>
                                                    <tr>
                                                        <th>ديبلوم</th>
                                                        <th>التخصص</th>
                                                        <th>تعديل</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for diplome in diplomes %}
                                                      <tr class="tb-colon"  >
                                                        <td>{{ diplome.diplomear}}</td>
                                                        <td>{{ diplome.specialitefr }} - {{ diplome.specialitear }}</td>
                                                        <td><a onclick="red( '/personnel/modifier_diplome', '{{ diplome.iddiplome }}')" class="btn btn-warning btn-icon  mx-1"><i class="fa-solid fa-pen fa-xs mx-1"></i></a> </td>
                                                      </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-lg-12 d-flex">
                <div class="card flex-fill">
                     <div class="card-header d-flex h-25" id="donneprof" style="background-color: #D42D1E;">
                        <h3 class="card-title text-center text-white"  dir="ltr">
                            <strong>معلومات مهنية</strong>
                        </h3>
                    </div>
                    <hr>
                    <div class="card-body" id="procard">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="ppr"> ب,ب.ر :</label>
                                        <label class="col-form-label" dir="ltr" for="ppr">PPR :</label>
                                        <input type="text" class="form-control text-center" value="{{ personnel.ppr }}" name="ppr" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="adminiapp"> الإدارة :</label>
                                        <label class="col-form-label" dir="ltr" for="adminiapp">Administration :</label>
                                        <select class="form-control  text-center" name="adminiapp" required>
                                            <option {% if personnel.administrationapp == 'مجلس عمالة وجدة أنجاد-Préfectoral' %} selected {% endif %}>مجلس عمالة وجدة أنجاد-Préfectoral</option>
                                            <option {% if personnel.administrationapp == 'عمالة وجدة أنجاد-Général' %} selected {% endif %}>عمالة وجدة أنجاد-Général</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="numiden"> رقم المنصب المالي :</label>
                                        <label class="col-form-label" dir="ltr" for="numiden">N° de poste budgétaire :</label>
                                        <input type="text" class="form-control text-center" name="numiden" value="{{ personnel.numerofinancier }}" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                        <label class="col-form-label float-right" for="rib"> ر.ي.ب :</label>
                                        <label class="col-form-label" dir="ltr" for="rib">Rib :</label>
                                        <input type="text" class="form-control text-center" name="rib" pattern="^(0|[1-9][0-9]*)$" value="{{ personnel.rib }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-12 col-lg-12">

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="ancadmi"> الأقدمية الإدارية :</label>
                                            <label class="col-form-label" dir="ltr" for="ancadmi">Ancienneté administrative :</label>
                                            <input type="text" class="form-control text-center" name="ancadmi" value="{{ personnel.ancienneteadmi }}" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="daterec"> تاريخ التوظيف :</label>
                                            <label class="col-form-label" dir="ltr" for="daterec">Date de recrutement :</label>
                                            <input type="date" class="form-control text-center" name="daterec" value="{{ personnel.daterecrutement|date:'Y-m-d' }}" required>
                                        </div>

                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="datedec"> تاريخ الترسيم :</label>
                                            <label class="col-form-label" dir="ltr" for="datedec">Date de titularisation :</label>
                                             <input type="date" class="form-control text-center" name="datedec" value="{{ personnel.datedemarcation|date:'Y-m-d' }}" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="dateretr"> تاريخ الإحالة على التقاعد :</label>
                                            <label class="col-form-label" dir="ltr" for="dateretr">Date de départ à la retraite :</label>
                                             <input type="date" class="form-control text-center" name="dateretr" value="{{ personnel.dateparrainageretraite|date:'Y-m-d' }}" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="numcnopsaf"> رفم كنوبس أ.ف :</label>
                                            <label class="col-form-label" dir="ltr" for="numcnopsaf">Numéro cnops af :</label>
                                             <input type="text" class="form-control text-center" name="numcnopsaf" value="{{ personnel.numcnopsaf }}" required>
                                        </div>

                                        <div class="col-md">
                                            <label class="col-form-label float-right" for="numcnopsim"> رفم كنوبس أ.م :</label>
                                            <label class="col-form-label" dir="ltr" for="numcnopsim">Numéro cnops im :</label>
                                             <input type="text" class="form-control text-center" name="numcnopsim" value="{{ personnel.numcnopsim }}" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xxl-12">
                <div class="card flex-fill">
                    <div class="card-body"><!--data-toggle="modal" data-target="#defaultModalSuccess"-->
                    <center><button type="submit" class="btn btn-success"   style="font-size: 130%">Enregistrer - تسجيل</button></center>
                        <div class="modal fade" id="defaultModalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">اضافة</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body m-3">
                                        <p class="mb-0">تأكيد اضافة عامل</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-success">تأكيد</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
<script type="text/javascript" src="{% static 'js/GestionPersonnel/modifier.js' %}"></script>
<script type="text/javascript" src="{% static 'js/GestionPersonnel/ajouter.js' %}"></script>
{% endblock content %}