{% extends 'menu.html' %}
{% block content %}
{% load static %}
    {% load has_group %}
    <title> {% block title %}إعادة التعيين{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Montserrat:wght@800;900&display=swap" rel="stylesheet">

    <style>
        h3,strong{
            font-family: "Cairo ExtraLight"
        }
    </style>

    {% if request.user|has_group:"GestionPersonnel" %}
        <form action="" method="POST">
        {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 col-lg-12 d-flex">
                        <div class="card flex-fill">
                             <div class="card-header d-flex h-25" id="donneprof" style="background-color: #D42D1E;">
                                <h3 class="card-title text-center text-white"  dir="ltr">
                                   <strong>إعادة التعيين</strong>
                                </h3>
                            </div>

                            <div class="card-body" id="procard">
                                <br>
                                <strong class="float-right">الموضف :</strong>
                                <br>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12 text-right" >
                                        <div class="row no-gutters">
                                             <div class="col-md-2">
                                                <select class="form-control  text-center" id="personnel" name="personnel" required>
                                                    {% for perso in personnels %}
                                                        <option id="{{ perso.idpersonnel }}">{{ perso.cin }}  - {{ perso.nomar }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <table class="table table-sm my-2">
                                            <thead></thead>
                                            <tbody id="table">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            <br>
                            <br>
                            <strong class="float-right">التعيين الجديد :</strong>
                            <br>
                            <hr>
                            <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="adminiapp"> الإدارة :</label>
                                                <label class="col-form-label" dir="ltr" for="adminiapp">Administration :</label>
                                                <select class="form-control  text-center" name="adminiapp" required>
                                                    <option>مجلس عمالة وجدة أنجاد-Préfectoral</option>
                                                    <option>عمالة وجدة أنجاد-Général</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="col-12 col-lg-12">
                                            <div class="row">
                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="entite"> الكيان :</label>
                                                    <label class="col-form-label" dir="ltr" for="entite">Entité :</label>
                                                    <select class="form-control text-center" id="entite" name="entite"  required>
                                                        {% for entite in entites %}
                                                            <option>{{ entite.libelleentitefr}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <br class="divisiondiv">
                                            <div class="row divisiondiv">
                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="division"> القسم :</label>
                                                    <label class="col-form-label" dir="ltr" for="division">Division :</label>
                                                    <select class="form-control text-center" id="division" name="division">
                                                        <option id="op3"></option>
                                                        {% for division in divisions %}
                                                            <option value="{{ division.iddivision }}">{{ division.libelledivisionfr }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <br class="districtpashalikdiv">
                                            <div class="row districtpashalikdiv">
                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="districtpashalik"> المقاطعة :</label>
                                                    <label class="col-form-label" dir="ltr" for="districtpashalik">District pashalik :</label>
                                                    <select class="form-control text-center" id="districtpashalik" name="districtpashalik">
                                                        <option>District</option>
                                                        <option>Pashalik</option>
                                                        <option>Cercle</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <br class="cerclediv">
                                            <div class="row cerclediv">
                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="cercle"> الدائرة :</label>
                                                    <label class="col-form-label" dir="ltr" for="cercle">Cercle :</label>
                                                    <select class="form-control text-center" id="cercle" name="district">
                                                        <option id="op4"></option>
                                                        {% for cercle in cercles %}
                                                            <option value="{{ cercle.idcercle }}">{{ cercle.libellecerclefr }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <br class="caidadiv">
                                            <div class="row caidadiv">
                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="caida"> القيادة :</label>
                                                    <label class="col-form-label" dir="ltr" for="caida">Caida :</label>
                                                    <select class="form-control text-center" id="caida" name="district">

                                                    </select>
                                                </div>

                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="datecaida"> تاريخ التعيين :</label>
                                                    <label class="col-form-label" dir="ltr" for="datecaida">Date d'affectation :</label>
                                                     <input type="date" class="form-control text-center" name="datecaida">
                                                </div>
                                            </div>

                                            <br class="districtdiv">
                                            <div class="row districtdiv">
                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="district"> المقاطعة :</label>
                                                    <label class="col-form-label" dir="ltr" for="district">District :</label>
                                                    <select class="form-control text-center" id="district" name="district">
                                                        <option id="op0"></option>
                                                        {% for district in districts %}
                                                            <option value="{{ district.iddistrict }}">{{ district.libelledistrictfr }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <br class="pashalikdiv">
                                            <div class="row pashalikdiv">
                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="pashalik"> الباشوية :</label>
                                                    <label class="col-form-label" dir="ltr" for="pashalik">Pashalik :</label>
                                                    <select class="form-control text-center" id="pashalik" name="pashalik">
                                                        {% for pashalik in pashaliks %}
                                                            <option value="{{ pashalik.idpashalik }}">{{ pashalik.libellepashalikfr}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="datepashalik"> تاريخ التعيين :</label>
                                                    <label class="col-form-label" dir="ltr" for="datepashalik">Date d'affectation :</label>
                                                     <input type="date" class="form-control text-center" name="datepashalik">
                                                </div>
                                            </div>
                                            <br class="annexediv">
                                            <div class="row annexediv">

                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="annexe"> ملحقة إدارية :</label>
                                                    <label class="col-form-label" dir="ltr" for="annexe">Annexe :</label>
                                                    <select class="form-control text-center" id="annexe" name="annexe">

                                                    </select>
                                                </div>

                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="dateannexe"> تاريخ التعيين :</label>
                                                    <label class="col-form-label" dir="ltr" for="dateannexe">Date d'affectation :</label>
                                                     <input type="date" class="form-control text-center" name="dateannexe">
                                                </div>
                                            </div>

                                            <br class="servicediv">
                                            <div class="row servicediv">
                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="service"> إدارة :</label>
                                                    <label class="col-form-label" dir="ltr" for="service">Service :</label>
                                                    <select class="form-control text-center" id="service" name="service">

                                                    </select>
                                                </div>
                                                <div class="col-md">
                                                    <label class="col-form-label float-right" for="dateservice"> تاريخ التعيين :</label>
                                                    <label class="col-form-label" dir="ltr" for="dateservice">Date d'affectation :</label>
                                                     <input type="date" class="form-control text-center" name="dateservice">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12 col-xxl-12">
                        <div class="card flex-fill">
                            <div class="card-body">
                            <center><button type="submit" class="btn btn-success"   style="font-size: 130%">Enregistrer - تسجيل</button></center>
                                <div class="modal fade" id="defaultModalSuccess" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">اضافة</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body m-3">
                                                <p class="mb-0">تأكيد اضافة عامل</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-success">تأكيد</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        <script>
           var url0 = "{% url 'ajaxajouterloadannexe' %}"
           var url1 = "{% url 'ajaxajouterloadgrade' %}";
           var url2 = "{% url 'ajaxajouterloadechellon' %}";
           var url3 = "{% url 'ajaxajouterloadsevice' %}";
           const url4 = "{% url 'ajaxajouterloadcaida' %}";
           const url5 = "{% url 'ajaxloadpersonnel' %}";
        </script>
        <script type="text/javascript" src="{% static 'js/GestionPersonnel/ajouter.js' %}"></script>
    {% endif %}
{% endblock content %}