{% extends 'menu.html' %}
{% block content %}
{% load static %}
    {% load has_group %}
    <title> {% block title %}إعادة التعيين{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Montserrat:wght@800;900&display=swap" rel="stylesheet">
    <style>
         h3{
            font-family: "Cairo ExtraLight";
            font-weight: bold;
            color: #45B668;
        }
        #donneprof{
            border-radius: 5px;
        }

        .btn:not(a){
            font-weight: bold;
            font-family: "Cairo ExtraLight";
            color: white;
        }


    </style>
    <script>
    function date(){
            data = $('#btnclick').attr('href');
            linq = data + this.val();
            alert(linq);
           $('#btnclick').attr("href",linq);
        }
        document.getElementById('btnclick').oninput = date()
    </script>
    {% if request.user|has_group:"GestionPersonnel" %}
        <form action="" method="POST">
        {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 col-lg-12 d-flex">
                        <div class="card flex-fill">
                             <div class="card-header d-flex h-25" id="donneprof">
                                <h3 class="text-center"  dir="ltr">
                                   إعادة التعيين
                                </h3>

                            </div><hr>
                            <div class="card-body" id="procard">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <div class="card-header d-flex">
                                            <h4 class="float-right">الموضف :</h4>
                                        </div>
                                        <hr>
                                        <div class="row no-gutters">
                                             <div class="col-md-4">
                                                <label class="label mr-2" for="administration">الإدارة :</label>
                                                <select class="form-control text-center mr-2" id="administration" name="administration" required>
                                                    <option value="مجلس عمالة وجدة أنجاد-Préfectoral">مجلس عمالة وجدة أنجاد-Préfectoral</option>
                                                    <option value="عمالة وجدة أنجاد-Général">عمالة وجدة أنجاد-Général</option>
                                                </select>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4">
                                                <label class="label mr-2" for="personnel">الموضف :</label>
                                                <select class="form-control text-center mr-2" id="personnel" name="personnel" required>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover">
                                                        <thead></thead>
                                                        <tbody id="table">

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6" id="reaf">
                                        <div class="card-header d-flex">
                                            <h3 class="float-right">المصادقة على التعيين الجديد :</h3>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover text-right">
                                                        <thead></thead>
                                                        <tbody id="tablereaf">

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6" id="reafectationdonne">
                                        <div class="card-header d-flex">
                                            <h4 class="float-right">التعيين الجديد :</h4>
                                        </div><hr>

                                        <div class="row">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="entite"> الكيان :</label>
                                                <label class="col-form-label" dir="ltr" for="entite">Entité :</label>
                                                <select class="form-control text-center" id="entite" name="entite"  required>
                                                    {% for entite in entites %}
                                                        <option>{{ entite.libelleentitefr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br class="divisiondiv">
                                        <div class="row divisiondiv">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="division"> القسم :</label>
                                                <label class="col-form-label" dir="ltr" for="division">Division :</label>
                                                <select class="form-control text-center" id="division" name="division">
                                                    <option id="op3"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <br class="districtpashalikdiv">
                                        <div class="row districtpashalikdiv">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="districtpashalik"> المقاطعة :</label>
                                                <label class="col-form-label" dir="ltr" for="districtpashalik">District pashalik :</label>
                                                <select class="form-control text-center" id="districtpashalik" name="districtpashalik">
                                                    <option>District</option>
                                                    <option>Pashalik</option>
                                                    <option>Cercle</option>
                                                </select>
                                            </div>
                                        </div>

                                        <br class="cerclediv">
                                        <div class="row cerclediv">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="cercle"> الدائرة :</label>
                                                <label class="col-form-label" dir="ltr" for="cercle">Cercle :</label>
                                                <select class="form-control text-center" id="cercle" name="district">
                                                    <option id="op4"></option>
                                                    {% for cercle in cercles %}
                                                        <option value="{{ cercle.idcercle }}">{{ cercle.libellecerclefr }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <br class="caidadiv">
                                        <div class="row caidadiv">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="caida"> القيادة :</label>
                                                <label class="col-form-label" dir="ltr" for="caida">Caida :</label>
                                                <select class="form-control text-center" id="caida" name="district">

                                                </select>
                                            </div>
                                        </div>

                                        <br class="districtdiv">
                                        <div class="row districtdiv">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="district"> المقاطعة :</label>
                                                <label class="col-form-label" dir="ltr" for="district">District :</label>
                                                <select class="form-control text-center" id="district" name="district">
                                                    <option id="op0"></option>
                                                    {% for district in districts %}
                                                        <option value="{{ district.iddistrict }}">{{ district.libelledistrictfr }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <br class="pashalikdiv">
                                        <div class="row pashalikdiv">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="pashalik"> الباشوية :</label>
                                                <label class="col-form-label" dir="ltr" for="pashalik">Pashalik :</label>
                                                <select class="form-control text-center" id="pashalik" name="pashalik">
                                                    {% for pashalik in pashaliks %}
                                                        <option value="{{ pashalik.idpashalik }}">{{ pashalik.libellepashalikfr}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <br class="annexediv">
                                        <div class="row annexediv">

                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="annexe"> ملحقة إدارية :</label>
                                                <label class="col-form-label" dir="ltr" for="annexe">Annexe :</label>
                                                <select class="form-control text-center" id="annexe" name="annexe">

                                                </select>
                                            </div>
                                        </div>

                                        <br class="servicediv">
                                        <div class="row servicediv">
                                            <div class="col-md">
                                                <label class="col-form-label float-right" for="service"> إدارة :</label>
                                                <label class="col-form-label" dir="ltr" for="service">Service :</label>
                                                <select class="form-control text-center" id="service" name="service">

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-12 col-xxl-12" id="reafectationbutton" >
                        <div class="card flex-fill">
                            <div class="card-body">
                                <center><button type="submit" class="btn btn-success"  style="font-size: 130%">المصادقة</button></center>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
        <script>
           var url0 = "{% url 'ajaxajouterloadannexe' %}"
           var url1 = "{% url 'ajaxajouterloadgrade' %}";
           var url2 = "{% url 'ajaxajouterloadechellon' %}";
           var url3 = "{% url 'ajaxajouterloadsevice' %}";
           var url4 = "{% url 'ajaxajouterloadcaida' %}";
           var url5 = "{% url 'ajaxloadpersonnel' %}";
           var url6 = "{% url 'ajaxajouterloaddivision' %}";
           var url7 = "{% url 'ajaxloadadministration' %}";
        </script>
        <script type="text/javascript" src="{% static 'js/GestionPersonnel/ajouter.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/GestionPersonnel/reaffectation.js' %}"></script>
    {% else %}
      <div class="row h-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">
						<div class="text-center">
							<h1 class="display-1 font-weight-bold" style="color: red">401</h1>
							<p class="h1"></p>
							<p class="h2 font-weight-normal mt-3 mb-4"  style="color: red">ليس لديكم الحق للولوج لهته الصفحة</p>
							<a href="{% url 'consultation' %}" class="btn btn-primary btn-lg">الرجوع</a>
						</div>
					</div>
				</div>
			</div>
{% endif %}
{% endblock content %}