{% extends 'menu.html' %}
{% block content %}
    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styleajouter.css' %}">
<script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<div class="page-header card">
	<div class="row align-items-end">
		<div class="col-lg-12">
			<div class="page-header-title text-center">
				<div class="d-inline">
					<h5>
						Congé - عطلة
					</h5>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pcoded-inner-content">
	<div class="main-body">
		<div class="page-wrapper">
			<div class="page-body">
                <form method="post" action="">
                        {% csrf_token %}
                        <div class="card">
					<div class="card-header">
						<h5>
							Données personnelles
						</h5>

                        <h5 style="float: right; text-align: right">
							معلومات شخصية
						</h5>
						<span>
							Add class of
							<code>
								.form-control
							</code>
							 with
							<code>
								&lt;input&gt;
							</code>
							 tag
						</span>
					</div>
					<div class="card-block">
						<div class="m-b-20">
                            <div class="row">
								<div class="col-sm-8 col-lg-12">
                                    <label class="col-form-label">Personnel :</label>
                                    <label class="col-form-label float-right">: الموضف </label>
									<div class="input-group">
                                        <select class="form-control text-center" name="perso">
                                            {% for personnel in personnels %}
                                                <option value="{{ personnel.idpersonnel }}">{{ personnel.cin }}</option>
                                            {% endfor %}
                                        </select>
									</div>
								</div>
							</div>

                            <div class="row">
								<div class="col-sm-8 col-lg-12">
                                    <label class="col-form-label">Date de congé :</label>
                                    <label class="col-form-label float-right">: تاريخ بداية العطلة </label>
									<div class="input-group">
										<input type="date" name="datedecon" class="form-control"   required>
									</div>
								</div>
							</div>

                            <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label">Type Congé :</label>
                                        <label class="col-form-label float-right">: نوع العطلة </label>
                                        <div class="input-group">
                                            <input type="text" name="typede" class="form-control"  required>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label">Nombre de jours :</label>
                                        <label class="col-form-label float-right">: عدد الايام </label>
                                        <div class="input-group">
                                            <input type="number" name="nbjours" class="form-control" required>
                                        </div>
                                    </div>
                            </div>

                            <div class="row">
                                    <div class="col-sm-8 col-lg-12">
                                        <label class="col-form-label">Date retour :</label>
                                        <label class="col-form-label float-right">: تاريخ العودة </label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" readonly value="">
                                        </div>
                                    </div>
                            </div>

                        </div>
                        <center>
                                <p>
                                    <div class="col-sm-2 col-lg-2" >
                                        <p>
                                             <button type="submit" class="btn btn-success bg-white" style="color: lightseagreen"  >Enregistrer | حفظ</button>
                                        </p>
                                     </div>
                                </p>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}