{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    <link href="{% static 'css/absenceajouter.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
    <style>
    th{
        color: white;
        font-family: "Cairo ExtraLight";
        font-weight: bold;
    }
    h3{
        font-family: "Cairo ExtraLight";
        font-weight: bold;
        color: #45B668;
    }
    </style>
<form method="post">
{% csrf_token %}
    <div class="row">
        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h3 class="text-right">إضافة رخصة</h3>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="col-12 col-sm-12 d-flex">
                        <table id="datatables-dashboard-projects" class="table table-striped my-0 text-center">
                            <thead style="background-color: #45B668">
                                <tr>
                                    <th class="d-none d-xl-table-cell">الاسم الكامل</th>
                                    <th>النوع</th>
                                    <th>تاريخ البداية </th>
                                    <th> تاريخ النهاية</th>
                                    <th>عدد الأيام</th>
                                    <th>الأيام المتبقية</th>
                                     <th>الأيام المتبقية في الإجازة</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% now "Y-m-d" as todays %}
                            {% for item,a in congesEnCours %}
                                <tr >
                                    <td>{{ item.idconge}}</td>
                                    <td>{{ item.type_conge }}</td>
                                    <td class="d-none d-xl-table-cell">{{ item.datedebut|date:'Y-m-d' }} </td>
                                    <td class="d-none d-xl-table-cell">{{ item.dateretour|date:'Y-m-d' }}</td>
                                    <td>{{ item.nbjour}}</td>
                                    <td>{{ a.joursrestan}}</td>
                                    <td>{{ a.joursrestanConge }}</td>
                                    <td class="collapsing">
                                        <a href="{% url 'stopeconge' item.idconge %}" class="btn btn-danger">توقيف</a>
                                     </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header">
                    <h3 class="text-right">إضافة رخصة</h3>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="col-12 col-sm-12 d-flex">
                        <table id="tableEnCoursFini"  class="table table-striped my-0 text-center">
                            <thead style="background-color: #45B668;">
                                <tr>
                                    <th class="d-none d-xl-table-cell">الاسم الكامل</th>
                                    <th>النوع</th>
                                    <th>تاريخ البداية </th>
                                    <th> تاريخ النهاية</th>
                                    <th>عدد الأيام</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% now "Y-m-d" as todays %}
                            {% for item in enCoursFini %}
                                <tr id="{{ item.IdConge }}">
                                    <td>{{ item.IdPersonnel  }}</td>
                                    <td>{{ item.type_conge }}</td>
                                    <td class="d-none d-xl-table-cell">{{ item.dateDebut|date:'Y-m-d' }} </td>
                                    <td class="d-none d-xl-table-cell">{{ item.dateRetour|date:'Y-m-d' }}</td>
                                    <td>{{ item.nbJour}}</td>
                                    <td class="collapsing">
                                        <div class="ui fitted slider checkbox">
                                          <input type="checkbox" name="check" value="{{ item.IdConge }}"> <label></label>
                                        </div>
                                     </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="float-left">
                        <a class="btn btn-success mx-3" id="update" style="color:white; font-size: 17px;" >تاكيد الدخول</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script>
    let table = document.getElementById("table");
    function resetTable(){
              let table = document.getElementById("table");
              for(let i=1;i<table.rows.length;i++){
                table.rows[i].removeAttribute("style");
              }
         }
    function reseet(){
          document.getElementById("formsearch").reset();
          resetTable();
             }
    function typeCon(arg){
         reseet();
         for(let i=1;i<table.rows.length;i++){
                 if(table.rows[i].cells[1].textContent!=arg.text){
                   table.rows[i].style.display="none";
                 }
             }
    }
    function statu(arg){
        reseet();
         for(let i=1;i<table.rows.length;i++){
                 if(table.rows[i].cells[5].textContent!=arg.text){
                   table.rows[i].style.display="none";
                 }
             }
    }
    function dateCheck(from,to,check) {
            if((check.getTime() <= to.getTime() && check.getTime() >= from.getTime()-85400000)) {
                // 86,400,000 is 1 day in millisecond
                return true;
            }
            return false;
         }
    function calcDate(){
             let date1=new Date(document.getElementById("date1").value);
             let date2=new Date(document.getElementById("date2").value);
             let table = document.getElementById("table");
             for(let i=1;i<table.rows.length;i++){
                 let val =new Date(table.rows[i].cells[2].innerHTML)
                 if(!(dateCheck(date1,date2,val))){
                   table.rows[i].style.display="none";
                 }
             }
             totalJours();
             justification();
             noJustification();
             totalAbsence();
         }
    $(function() {
			$("#datatables-dashboard-projects").DataTable({
				 "lengthMenu": [[5, 25, 50,75,100, -1],[5, 25, 50,75,100, "الكل"]],
                searching: false,
                language:{
                    "decimal":        "",
                    "emptyTable":     "لا يوجد معلومات",
                    "info":           "",
                    "infoEmpty":      "إضهار 0 من 0 ",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     " _MENU_      ",
                    "loadingRecords": "جار التحميل ...",
                    "processing":     "",
                    "search":         "",
                    "zeroRecords":    "لا يوجد معلومات",
                    "paginate": {
                        "first":      "الأخير",
                        "last":       "الاول",
                        "next":       "التالي",
                        "previous":   "السابق"
                    },
                    "aria": {
                        "sortAscending":  ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
            },
			});
            $("#tableEnCoursFini").DataTable({
				 "lengthMenu": [[5, 25, 50,75,100, -1],[5, 25, 50,75,100, "الكل"]],
                searching: false,
                language:{
                    "decimal":        "",
                    "emptyTable":     "لا يوجد معلومات",
                    "info":           "",
                    "infoEmpty":      "إضهار 0 من 0 ",
                    "infoFiltered":   "",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     " _MENU_      ",
                    "loadingRecords": "جار التحميل ...",
                    "processing":     "",
                    "search":         "",
                    "zeroRecords":    "لا يوجد معلومات",
                    "paginate": {
                        "first":      "الأخير",
                        "last":       "الاول",
                        "next":       "التالي",
                        "previous":   "السابق"
                    },
                    "aria": {
                        "sortAscending":  ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
            },
			});
		});

    let $rows = $('#table tbody tr');
         $('#search').keyup(function() {
            let val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function() {
                let text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    document.getElementById('update').addEventListener('click', e=>{
     let id=[];
     $(':checkbox:checked').each(function (i){
         id[i]=$(this).val();
     })
     console.log(id);
     csrf=$('input[name=csrfmiddlewaretoken]').val()
     $.ajax({
        type: 'POST',
        url: './congeencours',
         data:{
            id,
            csrfmiddlewaretoken:csrf,
         },
        success: function(response){
            for(let i=0;i<id.length;i++){
                $('tr#'+id[i]+'').css('background-color','#ccc')
                $('tr#'+id[i]+'').fadeOut('slow');
            }
        },
        error: function(error){
            console.log(error)
        }
    })

})
    </script>
{% endblock %}