{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    <title>{% block title %}الرخص{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <script>
            var url5 = "{% url 'ajaxloadpersonnel' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/GestionConge/ajouter.js' %}"></script>
    <form method="POST">
    {% csrf_token %}
                <h1 class="h3 mb-3">Congés <span class="float-right">إجازة</span> </h1>
					<div class="row">
						<div class="col-12 col-lg-5 col-xxl-6 d-flex">
							<div class="card flex-fill">
								<div class="card-header">

								</div>
								<div class="card-body">
                                    <div class="row mb-3">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" dir="ltr" for="personneldata">: الموضف</label>
                                            <label class="col-form-label" dir="ltr" for="personneldata">Personnel :</label>
                                                <input class="form-control text-center" list="datalistOptions" id="personneldata" name="personneldata" oninput="loadpersonnel();" placeholder="...رقم البطاقة الوطنية">
                                                <datalist id="datalistOptions">
                                                  {% for personnel in personnels %}
                                                        <option value="{{ personnel.cin }}">
                                                {% endfor %}
                                                </datalist>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" dir="ltr" for="datedecon">: تاريخ بداية العطلة</label>
                                            <label class="col-form-label" dir="ltr" for="datedecon">Date de congé :</label>
                                            <input  type="date" name="datedecon" class="form-control text-center" value="{{ objconge.datedebut|date:'Y-m-d' }}"  required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" dir="ltr" for="nbjours">: عدد الأيام</label>
                                            <label class="col-form-label" dir="ltr" for="nbjours">Nombre de jours :</label>
                                            <input  type="number" name="nbjours" class="form-control text-center" value="{{ objconge.nbjour }}"  required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" dir="ltr" for="datere">: تاريخ العودة</label>
                                            <label class="col-form-label" dir="ltr" for="datere">Date retour :</label>
                                            <input  type="date" class="form-control text-center" name="datere" value="{{ objconge.dateretour|date:'Y-m-d' }}" readonly>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md">
                                            <label class="col-form-label float-right" dir="ltr" for="typede">: نوع العطلة</label>
                                            <label class="col-form-label" dir="ltr" for="typede">Type Congé :</label>
                                            <input  type="text" name="typede" class="form-control text-center" value="{{ objconge.type_conge }}"  required>
                                        </div>
                                    </div>

                                    <center><button type="submit" class="btn btn-success">اضاقة</button></center>
							    </div>
						    </div>
                        </div>

						<div class="col-12 col-lg-7 col-xxl-6 d-flex">
							<div class="card flex-fill">
								<div class="card-body">
                                    <div class="col-md-12" id="reaf">
                                        <div class="card-header d-flex h-25">
                                            <h3 class="float-right">المصادقة على التعيين الجديد :</h3>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-hover text-right">
                                                        <thead></thead>
                                                        <tbody id="table">
                                                        <tr>
                                                            <th> الإسم الكامل :</th><td></td>
                                                        </tr>
                                                        <tr>
                                                            <th>ر.ب.و :</th><td></td>
                                                        </tr>
                                                        <tr>
                                                            <th>ب.ب.ر :</th><td></td>
                                                        </tr>
                                                        <tr>
                                                            <th>  الرخصة السنوية :</th><td></td>
                                                        </tr>
                                                        <tr>
                                                            <th>الرخصة الأبوية :</th><td></td>
                                                        </tr>
                                                        <th>رخصة الولادة :</th><td></td>
                                                        </tr>
                                                        <tr>
                                                            <th>رخصة إستثنائية :</th><td></td>
                                                        </tr>
                                                         <tr>
                                                             <th>رخصة الحج :</th><td></td>
                                                         </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<!--<div class="row">
										<div class="col-12 col-lg-12">
                                            <div class="card flex-fill w-100">
                                                <div class="card-body">
                                                    <div class="chart">
                                                        <canvas id="chartjs-line"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
									</div>-->
								</div>
							</div>
						</div>
					</div>

                    <div class="row">
                        <div class="col-12 col-lg-5 col-xl-4 d-flex">
							<div class="card flex-fill w-100">
								<div class="card-header">
									<div class="card-actions float-right">
										<div class="dropdown show">
											<a href="#" data-toggle="dropdown" data-display="static">
                                              <i class="align-middle" data-feather="more-horizontal"></i>
                                            </a>

											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#">Something else here</a>
											</div>
										</div>
									</div>
									<h5 class="card-title mb-0">Source / Medium</h5>
								</div>
								<div class="card-body d-flex">
									<div class="align-self-center w-100">
										<div class="py-3">
											<div class="chart chart-xs">
												<canvas id="chartjs-dashboard-pie"></canvas>
											</div>
										</div>

										<table class="table mb-0 text-center">
											<thead>
												<tr>
													<th>Division</th>
													<th>قطاع</th>
													<th>Congés</th>
												</tr>
											</thead>

											<tbody>
                                            {% for division in divisions %}
												<tr >

                                                        <td><i class="fas fa-square-full text-primary"></i> {{ division.0 }}</td>
                                                        <td >{{ division.1}}</td>
                                                        <td class="text-success">{{ division.2}}</td>

												</tr>
                                            {% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

                        <div class="col-12 col-sm-8 d-flex">
                            <div class="card flex-fill">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Modification</h5>
                                </div>
                                <table id="datatables-dashboard-projects"  class="table table-striped my-0 text-center">
                                    <thead>
                                        <tr>
                                            <th>Congé - إجازة</th>
                                            <th class="d-none d-xl-table-cell">Nom Complet</th>
                                            <th>الاسم الكامل</th>
                                            <th class="d-none d-md-table-cell">Tele - هاتف</th>
                                            <th>Date Debut</th>
                                            <th>Date Fin</th>
                                            <th class="d-none d-md-table-cell">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in conges %}
                                        <tr >
                                            <td>{{ item.idconge }}</td>
                                            <td>{{ item.idpersonnel_field.prenomfr }} - {{ item.idpersonnel_field.nomfr }}</td>
                                            <td class="d-none d-xl-table-cell">{{ item.idpersonnel_field.prenomar }} - {{ item.idpersonnel_field.nomar }}</td>
                                            <td class="d-none d-xl-table-cell">{{ item.type_conge }}</td>
                                            <td>{{ item.datedebut|date:'Y-m-d'}}</td>
                                            <td>{{ item.dateretour|date:'Y-m-d' }}</td>
                                            <td><a href="{% url 'deleteconge' item.idconge %}" class="btn btn-danger m-1"><i class="fa-solid fa-trash fa-lg " ></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
    </form>

<script>
		$(function() {
			// Select2
			$(".select2").each(function() {
				$(this)
					.wrap("<div class=\"position-relative\"></div>")
					.select2({
						placeholder: "Select value",
						dropdownParent: $(this).parent()
					});
			})
			// Daterangepicker
			$("input[name=\"daterange\"]").daterangepicker({
				opens: "left"
			});
			$("input[name=\"datetimes\"]").daterangepicker({
				timePicker: true,
				opens: "left",
				startDate: moment().startOf("hour"),
				endDate: moment().startOf("hour").add(32, "hour"),
				locale: {
					format: "M/DD hh:mm A"
				}
			});
			$("input[name=\"datesingle\"]").daterangepicker({
				singleDatePicker: true,
				showDropdowns: true
			});
			// Datetimepicker
			$('#datetimepicker-minimum').datetimepicker();
			$('#datetimepicker-view-mode').datetimepicker({
				viewMode: 'years'
			});
			$('#datetimepicker-time').datetimepicker({
				format: 'LT'
			});
			$('#datetimepicker-date').datetimepicker({
				format: 'L'
			});
			var start = moment().subtract(29, "days");
			var end = moment();

			function cb(start, end) {
				$("#reportrange span").html(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
			}
			$("#reportrange").daterangepicker({
				startDate: start,
				endDate: end,
				ranges: {
					"Today": [moment(), moment()],
					"Yesterday": [moment().subtract(1, "days"), moment().subtract(1, "days")],
					"Last 7 Days": [moment().subtract(6, "days"), moment()],
					"Last 30 Days": [moment().subtract(29, "days"), moment()],
					"This Month": [moment().startOf("month"), moment().endOf("month")],
					"Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
				}
			}, cb);
			cb(start, end);
		});


        $(function() {
			// Line chart
			new Chart(document.getElementById("chartjs-line"), {
				type: "line",
				data: {
					labels: ["Jan-ينا", "Fev-فبر", "Mar-مارس", "Avr-أبر", "Mai-ماي", "Jun-يونيو", "Jul-يول", "Auo-غشت", "Sep-شتن", "Oct-أكت", "Nov-نون", "Dec-ديس"],
					datasets: [{
						label: "Personnel",
						fill: true,
						backgroundColor: "transparent",
						borderColor: window.theme.primary,
						data: [{{ congepersonnel.0 }},{{ congepersonnel.1 }},{{ congepersonnel.2 }},{{ congepersonnel.3 }},{{ congepersonnel.4 }},{{ congepersonnel.5 }},{{ congepersonnel.6 }},{{ congepersonnel.7 }},{{ congepersonnel.8 }},{{ congepersonnel.9 }},{{ congepersonnel.10 }},{{ congepersonnel.11 }}]
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					tooltips: {
						intersect: false
					},
					hover: {
						intersect: true
					},
					plugins: {
						filler: {
							propagate: false
						}
					},
					scales: {
						xAxes: [{
							reverse: true,
							gridLines: {
								color: "rgba(0,0,0,0.05)"
							}
						}],
						yAxes: [{
							ticks: {
								stepSize: 500
							},
							display: true,
							borderDash: [5, 5],
							gridLines: {
								color: "rgba(0,0,0,0)",
								fontColor: "#fff"
							}
						}]
					}
				}
			});
		});
	</script>
    <script>
		$(function() {
			$("#datatables-dashboard-projects").DataTable({
				pageLength: 6,
				lengthChange: false,
				bFilter: false,
				autoWidth: false
			});
		});
	</script>

    <script>
		$(function() {
			// Pie chart
			new Chart(document.getElementById("chartjs-dashboard-pie"), {
				type: "pie",
				data: {
					labels: [{% for division in divisions %}'{{ division.0 }}',{% endfor %}],
					datasets: [{
						data: [{% for division in divisions %}'{{ division.2 }}',{% endfor %}],
						backgroundColor: [
							window.theme.primary,
							window.theme.warning,
							window.theme.danger,
							"#E8EAED"
						],
						borderColor: "transparent"
					}]
				},
				options: {
					responsive: !window.MSInputMethodContext,
					maintainAspectRatio: false,
					legend: {
						display: false
					}
				}
			});
		});
	</script>

{% endblock %}