{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    <link href="{% static 'css/absenceajouter.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <section class="container-fluidd-flex mt-3 absence " style="background-color: white !important;">
        <div class="row">
                 <section class="abs-data mt-3">
                     <h2>{{ objpersonnel.prenomfr }} - {{ objpersonnel.nomfr }}</h2>
                <table id="table" class="table table-hover">
                    <thead style="background-color: #313b4ceb;color: white">
                      <tr>
                        <th scope="col">Annee</th>
                        <th scope="col">Sum</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for a,b in listdate %}
                                  <tr class="tb-colon">
                                      <td>{{ a }}</td>
                                      <td>{{ b.anneesum.nbjour__sum }}</td>
                                  </tr>
                                {% endfor %}
                    </tbody>
                  </table>
            </section>
                </div>
    </section>

{% endblock %}