{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    <title>{% block title %}الرخص{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap" rel="stylesheet">
    <style>
    th{
        font-family: "Cairo ExtraLight";
    }
    label
   {
        font-family: 'Noto Kufi Arabic', sans-serif;
   }

    h3{
         font-family: "Cairo ExtraLight";
        font-weight: bold;
        color: #45B668;
    }

   .texts{
       font-size: 120%;
   }

    #donneperso{
            border-radius: 5px;
        }

    </style>
        <form method="get" id="formsearch">
        <div class="row">
            <div class="col-sm-12 col-lg-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header d-flex h-25" id="donneperso">
                        <h3 class="text-center" dir="ltr">
                            البحث
                        </h3>
                    </div>
                    <hr>
                    <div class="card-body" id="persocard">
                        <div class="row mr-2">
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="texts float-right" for="entite"> الكيان :</label>
                                    <select class="form-control text-center" id="entite" name="entite"  required>
                                        <option value="" style="display: none"></option>
                                        {% for entite in entites %}
                                            <option>{{ entite.libelleentitefr}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <br class="divisiondiv">
                            <div class="row divisiondiv">
                                <div class="col-md-10">
                                    <label class="texts float-right" for="division"> القسم :</label>
                                    <select class="form-control text-center" id="division" name="division">

                                    </select>
                                </div>
                            </div>

                            <br class="districtpashalikdiv">
                            <div class="row districtpashalikdiv">
                                <div class="col-md-10">
                                    <label class="texts float-right" for="districtpashalik"> المقاطعة :</label>
                                    <select class="form-control text-center" id="districtpashalik" name="districtpashalik">
                                        <option value="" id="iddps" style="display: none"></option>
                                        <option>District</option>
                                        <option>Pashalik</option>
                                        <option>Cercle</option>
                                    </select>
                                </div>
                            </div>

                            <br class="cerclediv">
                            <div class="row cerclediv">
                                <div class="col-md-10">
                                    <label class="texts float-right" for="cercle"> الدائرة :</label>
                                    <select class="form-control text-center" id="cercle" name="cercle">
                                        <option id="idcercle" style="display: none"></option>
                                        {% for cercle in cercles %}
                                            <option value="{{ cercle.idcercle}}">{{ cercle.libellecerclefr }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <br class="caidadiv">
                            <div class="row caidadiv">
                                <div class="col-md-10">
                                    <label class="texts float-right" for="caida"> القيادة :</label>
                                    <select class="form-control text-center" id="caida" name="caida">

                                    </select>
                                </div>
                            </div>

                            <br class="districtdiv">
                            <div class="row districtdiv">
                                <div class="col-md-10">
                                    <label class="texts float-right" for="district"> المقاطعة :</label>
                                    <select class="form-control text-center" id="district" name="district">
                                        <option  value="" id="iddistrict" style="display: none"></option>
                                        {% for district in districts %}
                                            <option value="{{ district.iddistrict }}">{{ district.libelledistrictfr }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <br class="pashalikdiv">
                            <div class="row pashalikdiv">
                                <div class="col-md-10">
                                    <label class="texts float-right" for="pashalik"> الباشوية :</label>
                                    <select class="form-control text-center" id="pashalik" name="pashalik">
                                        <option value="" id="idpashalik" style="display: none"></option>
                                        {% for pashalik in pashaliks %}
                                            <option value="{{ pashalik.idpashalik }}">{{ pashalik.libellepashalikfr}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br class="annexediv">
                            <div class="row annexediv">

                                <div class="col-md-10">
                                    <label class="texts float-right" for="annexe"> ملحقة إدارية :</label>
                                    <select class="form-control text-center" id="annexe" name="annexe">

                                    </select>
                                </div>
                            </div>

                            <br class="servicediv">
                            <div class="row servicediv">
                                <div class="col-md-10">
                                    <label class="texts float-right" for="service"> إدارة :</label>
                                    <select class="form-control text-center" id="service" name="service">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        </form>

    <form method="POST" action="{% url 'ajouternotation' %}" autocomplete="off">
    {% csrf_token %}
        <div class="row">
            <div class="col-6 d-flex">
                <div class="card flex-fill p-3">
                    <div class="card-header">
                        <h3 class="text-right" dir="ltr">
                            إضافة
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md">
                                <label class="col-form-label float-right" dir="ltr" for="personneldata">: الموضف</label>
                                <label class="col-form-label" dir="ltr" for="personneldata">Personnel :</label>
                                    <input class="form-control text-center" list="datalistOptions" id="personneldata" name="personneldata" placeholder="...رقم البطاقة الوطنية">
                                    <datalist id="datalistOptions">
                                      {% for personnel in personnels %}
                                          <option value="{{ personnel.cin }}"></option>
                                    {% endfor %}
                                    </datalist>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md">
                                <label class="col-form-label float-right" dir="ltr" for="note">النقطة</label>
                                <label class="col-form-label" dir="ltr" for="note">La Note :</label>
                                <input  type="number" id="note" name="note" class="form-control text-center" min="0" max="20"  required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md">
                                <label class="col-form-label float-right" dir="ltr" for="annee">السنة</label>
                                <label class="col-form-label" dir="ltr" for="annee">Année</label>
                                <select name="annee" id="annee" class="form-control text-center" required>

                                </select>
                            </div>
                        </div>
                        <button type="submit"  class="btn btn-success">اضاقة</button>
                    </div>
                </div>
            </div>

            <div class="col-6 d-flex ">
                <div class="card flex-fill p-3">
                    <div class="card-header">
                        <h3 class="text-right" dir="ltr">
                            الغير المسجلين
                        </h3>
                    </div>
                    <table id="table"  class="table table-striped my-0 text-center">
                        <thead style="background-color: #212a38;color: white">
                            <tr>
                                <th class="dd-xl-table-cell">ر.ب.و</th>
                                <th class="dd-xl-table-cell">الإسم الكامل</th>
                                <th>السنة</th>
                                <th class="d-md-table-cell">-</th>
                                <th class="d-md-table-cell">-</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in persoempty %}
                            <tr >
                                <td>{{ item.cin }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.year }}</td>
                                <td class="d-xl-table-cell"><span class="btn btn-primary addyear"><i class="fa fa-plus" aria-hidden="true"></i></span> </td>
                                <td><a href="http://127.0.0.1:8000/personnel/personnelinfo/{{item.id}}" class="btn btn-success m-1"><i class="fa-solid fa-arrow-up-right-from-square fa-lg " ></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </form>

    <script>
        document.getElementById('personneldata').oninput=()=>document.getElementById('annee').innerHTML=""
        let patt="";
        patt=`{% for prc in personnels %}{{ prc.cin }}|{% endfor %}`
        document.getElementById('personneldata').setAttribute("pattern",patt)
        $('.addyear').on('click', function(){
              document.getElementById('annee').innerHTML = `<option selected>${$(this).parents('tr').find("td:eq(2)").text()}</option>`;
              document.getElementById('personneldata').value = $(this).parents('tr').find("td:eq(0)").text();
          });
        document.getElementById('annee').onclick=()=>{
            persoCin=document.getElementById('personneldata').value
            if(persoCin!=''){
                if(document.getElementById('personneldata').checkValidity()){
                 ajaxAnnee(persoCin)
                }else{
                    alert('enter a valide cin')
                }
            }else {
                alert("المرجو ادخال بطاقة التعريف الوطنية")
            }
        }
    function ajaxAnnee(selectedCin){
    $.ajax({
        type: 'get',
        url: `ajaxannee/${selectedCin}/`,
        success: function(response){
            const persoData =JSON.parse(response.data)
            select=document.getElementById('annee')
            select.innerHTML=""
            for (let i=0;i<persoData.length;i++){
                select.innerHTML+=`<option value="${persoData[i]}">${persoData[i]}</option>`
             }
        },
        error: function(error){
            console.log(error)
        }
    })
}
var url0 = "{% url 'ajaxajouterloadannexe' %}"
    var url1 = "{% url 'ajaxajouterloadgrade' %}";
       var url2 = "{% url 'ajaxajouterloadechellon' %}";
       var url3 = "{% url 'ajaxajouterloadsevice' %}";
       const url4 = "{% url 'ajaxajouterloadcaida' %}";
       const url6 = "{% url 'ajaxajouterloaddivision' %}"

    </script>
    <script type="text/javascript" src="{% static 'js/GestionAvancement/datatable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/GestionAvancement/filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Global/validation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/GestionPersonnel/consultation.js' %}"></script>
{% endblock %}