{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    <title>{% block title %}الترقية في الرتبة الإستثنائية{% endblock title %}</title>
    <style>
    h3{
        font-family: Cairo;
    }
    </style>


    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
     <form method="POST" action="{% url 'avancementexceptionel' %}" autocomplete="off">
        {% csrf_token %}
            <div class="row">
                <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header" id="title">

                        </div>
                        <div class="card-body">
                            <div class="row mb-4">
                                <div class="col-5 text-right">
                                    <label class="label" >الدرجة :</label>
                                    <select class="form-control" id="grade" name="grade">
                                        {% for grade in grades %}
                                            <option value="{{ grade.idgrade }}">{{ grade.gradear }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-5 text-right">
                                    <label class="label"> عدد المناصب في السلك المقيدة في الميزانية :</label>
                                    <input type="number" class="form-control" id="nb" name="nb" value="25">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive ">
                                        <table class="table-bordered col-md-12">
                                            <caption id="linq"><a class="btn btn-success" href="{% url 'pdfavencement' 1 %}"> لائحة {% now "Y" %}</a></caption>
                                            <thead>
                                            <th>CIN</th>
                                            <th>الاسم الشخصي</th>
                                            <th>الاسم العائلي</th>
                                            <th>Prénom </th>
                                            <th>Nom</th>
                                            <th>رقم الـتأجير</th>
                                            <th>الرتبة</th><th>الرقم الاستدلال</th><th>تاريخ الفعالية في الرتبة</th>
                                            <th>النسق</th>
                                            <th>النقطة</th>
                                            <th>الرتبة</th>
                                            <th>الرقم الاستدلالي</th>
                                            <th>تاريخ الفعالية في الرتبة</th>
                                            </thead>
                                            <tbody id="table">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="table-responsive ">
                                        <table class="table-bordered col-md-12 text-right">
                                            <thead>
                                            <th>عدد المناصب في السلك المقيدة في الميزانية</th>
                                            <tbody id="table1">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="table-responsive">
                                        <table class="table-bordered col-md-12 text-right">
                                            <thead>
                                            <th>عدد المستوفين لشروط الترقي في الرتبة</th>
                                            <th>المقسوم عليه</th>
                                            <th>الخارج</th>
                                            <th>الباقي</th>
                                            <th>الحصيص</th>

                                            <tbody id="table2">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </form>
    <script>
        var url1 = "{% url 'loadpersonnelavancementexeptionnel' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/GestionAvancement/ave.js' %}"></script>

{% endblock content %}