{% extends 'menu.html' %}
{% block content %}
    {% load static %}
    <title>{% block title %}لوحة القيادة{% endblock title %}</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
    <link href="assets/css/feather.css" rel="stylesheet" type="text/css">
    <style >
    .shadow{
        box-shadow: 0 0.3rem 0.9rem rgb(5 92 98 / 14%) !important;
        border-radius: 8px !important;
    }
    </style>
    <div class="row">
        <div class="col-12 col-sm-6 col-xl d-flex">
            <div class="card flex-fill">
                <div class="card-body shadow py-4">
                    <div class="media">
                        <div class="d-inline-block mt-2 mr-3">
                            <i class="feather-lg text-info" data-feather="activity"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="mb-2">30</h3>
                            <div class="mb-0">عدد المترقين في الرتبة برسم السنة الحالية</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl d-flex">
            <div class="card flex-fill">
                <div class="card-body shadow py-4">
                    <div class="media">
                        <div class="d-inline-block mt-2 mr-3">
                          <i class="fa-regular fa-calendar-check fa-2xl" style="color: #2ecc71;text-shadow: 1px 1px 1px #ccc;font-size:30px;"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="mb-2">50</h3>
                            <div class="mb-0">عدد المترقين في الرتبة الإستثنائية برسم السنة الحالية</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6 text-right">
            <div class="card shadow py-4">
                <div class="card-header">
                    <h5>عدد المترقين في</h5>
                    <select class="form-control col-md-3">
                        <option>الخمس سنوات الماضية</option>
                        <option>الخمس سنوات المستقبلية</option>
                    </select>
                </div>
                <div class="card-body">
                    <div id="chart_div" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 text-right">
            <div class="card shadow py-4">
                <div class="card-header">
                    <h5>عدد المترقين في</h5>
                    <select class="form-control col-md-3">
                        <option>الخمس سنوات الماضية</option>
                        <option>الخمس سنوات المستقبلية</option>
                    </select>
                </div>
                <div class="card-body">
                    <div id="chart_div1" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>


     <script type="text/javascript" src="{% static 'js/GestionAvancement/loader.js' %}"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['السنة', 'الترقية العادية', 'الترقية الإستثنائية'],
          ['2018',  60,      40],
          ['2019',  117,      46],
          ['2020',  66,       112],
          ['2021',  103,      54]
        ]);

        var options = {
          title: 'عدد المترقين في السنة',
          hAxis: {title: 'السنة',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0, title: 'الموضفون'}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          ['الشهر', 'المصلحة', 'الباشوية', 'الدائرة', 'الملحقة', 'القيادة', '-'],
          ['2018',  65,      38,         22,              98,           50,      14.6],
          ['2019',  35,      120,        99,             268,           88,      82],
          ['2020',  57,      167,        87,              7,           97,      23],
          ['2021',  39,      110,        15,              68,           15,      9.4],
          ['2022',  36,      91,         29,             26,           66,      69.6]
        ]);

        var options = {
          title : 'عدد المترقين في الهيئات',
          vAxis: {title: 'الموضفون'},
          hAxis: {title: 'الأشهر'},
          seriesType: 'bars',
          series: {5: {type: 'line'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div1'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}